<% content_for :before_content do %>
  <%= govuk_back_link href: @form.back_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Upload sales logs in bulk (<%= @bulk_upload.year_combo %>)</span>
    <h1 class="govuk-heading-l">You have chosen to upload all logs from this bulk upload.</h1>

    <p class="govuk-body"><%= logs_and_soft_validations_warning(@bulk_upload) %></p>

    <%= form_with model: @form, scope: :form, url: page_bulk_upload_sales_soft_validations_check_path(@bulk_upload, page: "confirm"), method: :patch do |f| %>
      <%= f.govuk_submit %>

      <%= govuk_button_link_to "Cancel", @form.back_path, secondary: true %>
    <% end %>
  </div>
</div>
