<%= govuk_pagination(pagy:) %>
<% if pagy.pages > 1 %>
  <p class="govuk-body">
    Showing <b><%= pagy.from %></b> to <b><%= pagy.to %></b> of <b><%= pagy.count %></b> <%= item_name %>
  </p>
<% end %>
