<% content_for :title, "Check your phone" %>

<%= form_with(url: "/admin/two-factor-authentication", html: { method: :put }) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <%= content_for(:title) %>
      </h1>

      <p class="govuk-body">We’ve sent you a text message with a security code.</p>

      <%= f.govuk_number_field :code,
        label: { text: "Security code" },
        width: 5,
        autocomplete: 'one-time-code',
        autofocus: true
      %>

      <%= f.govuk_submit "Submit" %>
    </div>
  </div>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to "Not received a text message?", admin_two_factor_authentication_resend_path %>
</p>
