<% unless @merge_request.absorbing_organisation_signed_dsa? || @merge_request.absorbing_organisation_id.blank? %>
  <%= govuk_notification_banner(title_text: "Important") do %>
    <p class="govuk-notification-banner__heading govuk-!-width-full" style="max-width: fit-content">
      The absorbing organisation must accept the Data Sharing Agreement before merging.
    </p>
    <% if @merge_request.dpo_user %>
        Contact the Data Protection Officer: <%= link_to @merge_request.dpo_user.name, user_path(@merge_request.dpo_user.id) %>
      <% else %>
        <%= @merge_request.absorbing_organisation_name %> does not have a Data Protection Officer. You can assign one on the <%= link_to "users page", "#{organisation_path(@merge_request.absorbing_organisation_id)}/users" %>.
      <% end %>
  <% end %>
<% end %>

<% if @merge_request.last_failed_attempt.present? %>
  <%= govuk_notification_banner(title_text: "Important") do %>
    <p class="govuk-notification-banner__heading govuk-!-width-full" style="max-width: fit-content">
      An error occurred while processing the merge.
    </p>
    No changes have been made. Try beginning the merge again.
  <% end %>
<% end %>

<% if @merge_request.merge_date&.future? %>
  <%= govuk_notification_banner(title_text: "Important") do %>
    <p class="govuk-notification-banner__heading govuk-!-width-full" style="max-width: fit-content">
      This merge is happening in the future. Wait until the merge date to begin this merge.
    </p>
  <% end %>
<% end %>
