<% content_for :before_content do %>
  <% title = "Tell us if your organisation is merging" %>
  <% content_for :title, title %>
  <%= govuk_back_link href: organisations_path(anchor: "merge-requests") %>
<% end %>

<%= form_with model: @merge_request, url: merge_request_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">Which organisation is absorbing the others?</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-hint">If organisations are merging into a new organisation, <%= govuk_link_to "create the new organisation", new_organisation_path %> first and then select it here.</p>

      <%= f.govuk_select(:absorbing_organisation_id,
        label: { text: "Select organisation name", class: "govuk-label--m" },
        "data-controller": "accessible-autocomplete") do %>
          <% @answer_options.map { |id, name| OpenStruct.new(id:, name:) }.each do |answer| %>
            <option value="<%= answer.id %>"
              data-synonyms="<%= answer_option_synonyms(answer.resource) %>"
              data-append="<%= answer_option_append(answer.resource) %>"
              data-hint="<%= answer_option_hint(answer.resource) %>"
              <%= @merge_request.absorbing_organisation_id == answer.id ? "selected" : "" %>><%= answer.name || answer.resource %></option>
          <% end %>
        <% end %>

      <%= f.hidden_field :page, value: "absorbing_organisation" %>
      <div class="govuk-button-group">
        <%= f.govuk_submit submit_merge_request_button_text(request.query_parameters["referrer"]) %>
        <%= govuk_link_to(secondary_merge_request_link_text(request.query_parameters["referrer"]), merge_request_path(@merge_request)) %>
      </div>
    <% end %>
  </div>
</div>
