<% content_for :before_content do %>
  <% title = "Which helpdesk ticket reported this merge?" %>
  <% content_for :title, title %>
  <%= govuk_back_link href: merge_request_back_link(@merge_request, "helpdesk_ticket", request.query_parameters["referrer"]) %>
<% end %>

<%= form_with model: @merge_request, url: submit_merge_request_url(request.query_parameters["referrer"]), method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <%= f.govuk_radio_buttons_fieldset :has_helpdesk_ticket,
            legend: { text: "Was this merge reported by a helpdesk ticket?", size: "l" } do %>

            <%= f.govuk_radio_button "has_helpdesk_ticket",
              true,
              label: { text: "Yes" },
              **basic_conditional_html_attributes({ "helpdesk_ticket" => [true] }, "merge_request") do %>
              <%= f.govuk_text_field :helpdesk_ticket,
                caption: { text: "Ticket number", class: "govuk-label govuk-label--s" },
                label: { text: "For example, MSD-12345", class: "app-!-colour-muted" } %>
            <% end %>

            <%= f.govuk_radio_button "has_helpdesk_ticket",
              false,
              label: { text: "No" } %>
          <% end %>

          <%= f.hidden_field :page, value: "helpdesk_ticket" %>
          <div class="govuk-button-group">
            <%= f.govuk_submit submit_merge_request_button_text(request.query_parameters["referrer"]) %>
            <%= govuk_link_to(secondary_merge_request_link_text(request.query_parameters["referrer"], skip_for_now: true), merge_request_path(@merge_request)) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
