<% content_for :before_content do %>
  <% title = "Tell us if your organisation is merging" %>
  <% content_for :title, title %>
  <%= govuk_back_link href: merging_organisations_merge_request_path(@merge_request) %>
<% end %>
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @merge_request, url: merge_request_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h2 class="govuk-heading-l">What is the merge date?</h2>
      <p class="govuk-hint">
        Enter the official merge date. Log and organisation page data will show the new organisation name from this date. <br><br>
        For example, 27 3 2024</p>
      <%= f.govuk_date_field :merge_date,
        legend: { hidden: true },
        width: 20 do %>
      <% end %>
      <%= f.hidden_field :page, value: "merge_date" %>
        <div class="govuk-button-group">
          <%= f.govuk_submit submit_merge_request_button_text(request.query_parameters["referrer"]) %>
          <%= govuk_link_to(secondary_merge_request_link_text(request.query_parameters["referrer"]), merge_request_path(@merge_request)) %>
        </div>
    <% end %>
  </div>
</div>
