<% content_for :before_content do %>
  <% title = "New organisation telephone number" %>
  <% content_for :title, title %>
  <%= govuk_back_link href: new_organisation_address_merge_request_path(@merge_request) %>
<% end %>

<%= form_with model: @merge_request, url: merge_request_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h2 class="govuk-heading-l">What is <%= @merge_request.new_organisation_name.possessive %> telephone number?</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= f.govuk_text_field :new_organisation_telephone_number, label: nil, width: "two-thirds" %>
      <%= f.hidden_field :page, value: "new_organisation_telephone_number" %>
      <div class="govuk-button-group">
        <%= f.govuk_submit %>
        <%= govuk_link_to("Skip for now", new_organisation_type_merge_request_path(@merge_request)) %>
      </div>
    </div>
  </div>
<% end %>
