<% content_for :before_content do %>
  <% title = "New organisation name" %>
  <% content_for :title, title %>
  <%= govuk_back_link href: absorbing_organisation_merge_request_path(id: @merge_request) %>
<% end %>

<%= form_with model: @merge_request, url: merge_request_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h2 class="govuk-heading-l">What is the new organisation called?</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= f.govuk_text_field :new_organisation_name, label: nil %>
      <%= f.hidden_field :page, value: "new_organisation_name" %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
