<% content_for :before_content do %>

  <% title = "Tell us if your organisation is merging" %>
  <% content_for :title, title %>
  <%= govuk_back_link href: merge_request_organisation_path(id: @merge_request.requesting_organisation_id) %>
<% end %>

<h2 class="govuk-heading-l">Which organisations are merging?</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
   <p class="govuk-body">Add all organisations to be merged - we have already added your own.</p>

<%= form_with model: @merge_request, url: organisations_merge_request_path, method: :patch do |f| %>
  <%= f.govuk_error_summary %>
  <p class="govuk-body">Start typing to search</p>
  <%= render partial: "organisation_relationships/related_organisation_select_question", locals: {
    field: :merging_organisation,
    question: Form::Question.new("", { "answer_options" => @answer_options }, nil),
    f:,
  } %>
  <%= f.govuk_submit "Add organisation", classes: "govuk-button--secondary" %>
  <%= govuk_table do |table| %>
  <% @merge_request.merging_organisations.each do |merging_organisation| %>
      <%= table.body do |body| %>
        <%= body.row do |row| %>
          <% row.cell(text: merging_organisation.name) %>
          <% row.cell(html_attributes: {
            scope: "row",
            class: "govuk-!-text-align-right",
          }) do %>
            <% if @merge_request.requesting_organisation != merging_organisation %>
              <%= govuk_link_to("Remove", organisations_remove_merge_request_path(merge_request: { merging_organisation: merging_organisation.id })) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= form_with model: @merge_request, url: merge_request_path(id: @merge_request.id), method: :patch do |f| %>
  <%= govuk_details(summary_text: "I cannot find an organisation on the list") do %>
    <%= f.govuk_text_area :other_merging_organisations, label: { text: "Other organisations" }, hint: { text: "List other organisations that are part of the merge but not registered on CORE." }, rows: 9 %>
  <% end %>
  <% if @merge_request.merging_organisations.count.positive? %>
    <%= f.govuk_submit "Continue" %>
  <% end %>
<% end %>
</div>
