<% content_for :before_content do %>
  <% title = "Merge details: #{@merge_request.absorbing_organisation_name}" %>
  <% content_for :title, title %>
  <%= govuk_back_link href: organisations_path(tab: "merge-requests") %>
<% end %>

<%= render partial: "notification_banners" %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Merge details</span>
  <%= display_value_or_placeholder(@merge_request.absorbing_organisation_name) %>
</h1>
<% unless @merge_request.status == "request_merged" %>
<div class="govuk-button-group">
   <%= form_with model: @merge_request, url: start_merge_merge_request_path(@merge_request) do |f| %>
    <%= f.govuk_submit "Begin merge", disabled: @merge_request.status != "ready_to_merge" %>
  <% end %>
  <%= govuk_button_link_to "Delete merge request", delete_confirmation_merge_request_path(@merge_request), warning: true %>
</div>
<% end %>

<%= render partial: "merge_requests/summary_card", locals: { title: "Request details", details: request_details(@merge_request) } %>

<%= render partial: "merge_requests/summary_card", locals: { title: "Merge details", details: merge_details(@merge_request) } %>

<% unless @merge_request.status == "incomplete" %>
  <%= render partial: "merge_requests/summary_card", locals: { title: "Merge outcomes", details: merge_outcomes(@merge_request) } %>
<% end %>
