<% content_for :before_content do %>
  <% title = "Merge details: #{@merge_request.absorbing_organisation_name}" %>
  <% content_for :title, title %>
  <%= govuk_back_link href: "#{organisations_path}#merge-requests" %>
<% end %>
<% unless @merge_request.signed_dsa || @merge_request.absorbing_organisation_id.blank? %>
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <strong>The absorbing organisation must accept the Data Sharing Agreement before merging.</strong>
      <br>
      <% if @merge_request.dpo_user %>
        Contact the Data Protection Officer: <%= link_to @merge_request.dpo_user.name, user_path(@merge_request.dpo_user.id) %>
      <% else %>
        <%= @merge_request.absorbing_organisation_name %> does not have a Data Protection Officer. You can assign one on the <%= link_to "users page", "#{organisation_path(@merge_request.absorbing_organisation_id)}/users" %>.
      <% end %>
    </div>
  </div>
<% end %>
<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Merge details</span>
  <%= display_value_or_placeholder(@merge_request.absorbing_organisation_name) %>
</h1>
<% unless @merge_request.status == "request_merged" %>
<div class="govuk-button-group">
  <button type="submit" <%= @merge_request.status == "ready_to_merge" ? "" : "disabled aria-disabled=\"true\"" %> class="govuk-button" data-module="govuk-button">
    Begin merge
  </button>
  <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
    Delete merge request
  </button>
</div>
<% end %>

<% request_details = [
  { label: "Requester", value: display_value_or_placeholder(@merge_request.requestor&.name) },
  { label: "Helpdesk ticket", value: @merge_request.helpdesk_ticket.present? ? link_to("#{@merge_request.helpdesk_ticket} (opens in a new tab)", "https://dluhcdigital.atlassian.net/browse/#{@merge_request.helpdesk_ticket}", target: "_blank", rel: "noopener noreferrer") : display_value_or_placeholder(nil), action: @merge_request.status == "request_merged" ? nil : { text: "Change", href: "#", visually_hidden_text: "helpdesk ticket" } },
  { label: "Status", value: status_tag(@merge_request.status) },
] %>

<%= render partial: "merge_requests/summary_card", locals: { title: "Request details", details: request_details } %>

<% merge_details = [
  { label: "Absorbing organisation", value: display_value_or_placeholder(@merge_request.absorbing_organisation_name), action: @merge_request.status == "request_merged" ? nil : { text: "Change", href: absorbing_organisation_merge_request_path(@merge_request), visually_hidden_text: "absorbing organisation" } },
  { label: "Merging organisations", value: @merge_request.other_merging_organisations.present? ? @merge_request.other_merging_organisations.split(",").map(&:strip).join("<br>").html_safe : display_value_or_placeholder(nil), action: @merge_request.status == "request_merged" ? nil : { text: "Change", href: organisations_merge_request_path(@merge_request), visually_hidden_text: "merging organisations" } },
  { label: "Merge date", value: display_value_or_placeholder(@merge_request.merge_date), action: @merge_request.status == "request_merged" ? nil : { text: "Change", href: merge_date_merge_request_path(@merge_request), visually_hidden_text: "merge date" } },
] %>

<%= render partial: "merge_requests/summary_card", locals: { title: "Merge details", details: merge_details } %>

<% unless @merge_request.status == "incomplete" %>
  <% merge_outcomes = [
    { label: "Total users after merge", value: display_value_or_placeholder(@merge_request.total_users), action: { text: "View", href: "#", visually_hidden_text: "total users after merge" } },
    { label: "Total schemes after merge", value: display_value_or_placeholder(@merge_request.total_schemes), action: { text: "View", href: "#", visually_hidden_text: "total schemes after merge" } },
    { label: "Total logs after merge", value: @merge_request.total_lettings_logs.present? || @merge_request.total_sales_logs.present? ? "#{@merge_request.total_lettings_logs} lettings logs<br>#{@merge_request.total_sales_logs} sales logs".html_safe : display_value_or_placeholder(nil), action: { text: "View", href: "#", visually_hidden_text: "total logs after merge" } },
    { label: "Total stock owners & managing agents after merge", value: @merge_request.total_stock_owners.present? || @merge_request.total_managing_agents.present? ? "#{@merge_request.total_stock_owners} stock owners<br>#{@merge_request.total_managing_agents} managing agents".html_safe : display_value_or_placeholder(nil), action: { text: "View", href: "#", visually_hidden_text: "total stock owners & managing agents after merge" } },
  ] %>

  <%= render partial: "merge_requests/summary_card", locals: { title: "Merge outcomes", details: merge_outcomes } %>
<% end %>
