<% content_for :before_content do %>
  <% title = "Merge details: #{@merge_request.absorbing_organisation_name}" %>
  <% content_for :title, title %>
  <%= govuk_back_link href: "#{organisations_path}#merge-requests" %>
<% end %>
<% unless @merge_request.signed_dsa || @merge_request.absorbing_organisation_id.blank? %>
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <strong>The absorbing organisation must accept the Data Sharing Agreement before merging.</strong>
      <br>
      <% if @merge_request.dpo_user %>
        Contact the Data Protection Officer: <%= link_to @merge_request.dpo_user.name, user_path(@merge_request.dpo_user.id) %>
      <% else %>
        <%= @merge_request.absorbing_organisation_name %> does not have a Data Protection Officer. You can assign one on the <%= link_to "users page", "#{organisation_path(@merge_request.absorbing_organisation_id)}/users" %>.
      <% end %>
    </div>
  </div>
<% end %>
<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Merge details</span>
  <%= display_value_or_placeholder(@merge_request.absorbing_organisation_name) %>
</h1>
<% unless @merge_request.status == "request_merged" %>
<div class="govuk-button-group">
  <button type="submit" <%= @merge_request.status == "ready_to_merge" ? "" : "disabled aria-disabled=\"true\"" %> class="govuk-button" data-module="govuk-button">
    Begin merge
  </button>
  <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
    Delete merge request
  </button>
</div>
<% end %>

<%= render partial: "merge_requests/summary_card", locals: { title: "Request details", details: request_details(@merge_request) } %>

<%= render partial: "merge_requests/summary_card", locals: { title: "Merge details", details: merge_details(@merge_request) } %>

<% unless @merge_request.status == "incomplete" %>
  <%= render partial: "merge_requests/summary_card", locals: { title: "Merge outcomes", details: merge_outcomes(@merge_request) } %>
<% end %>
