<% content_for :before_content do %>
  <%= govuk_back_link(
    text: 'Back',
    href: :back,
  ) %>
<% end %>

<%= form_for(resource, as: resource_name, url: user_registration_path(), html: { method: :patch }) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Change your password</h1>

      <%= f.govuk_password_field :current_password,
        autocomplete: "current-password"
      %>

      <%= f.govuk_password_field :password,
        hint: @minimum_password_length ? { text: "Your password must be at least #{@minimum_password_length} characters and hard to guess." } : nil,
        autocomplete: "new-password"
      %>

      <%= f.govuk_submit "Update" %>
    </div>
  </div>
<% end %>
