<% content_for :before_content do %>
  <%= link_to 'Back', :back, class: "govuk-back-link" %>
<% end %>

<%= form_for(resource, as: resource_name, url: user_registration_path(), html: { method: :put }) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Change your password</h1>

      <div class="govuk-form-group">
        <%= f.label :current_password, class: "govuk-label" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "govuk-input" %>
      </div>

      <div class="govuk-form-group">
        <%= f.label :password, class: "govuk-label" %>
        <div id="undefined-hint" class="govuk-hint">
          Your password must be at least 8 characters and hard to guess.
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: "govuk-input" %>
      </div>

      <%= f.submit "Update", class: "govuk-button" %>
    </div>
  </div>
<% end %>
