<% content_for :before_content do %>
  <%= govuk_back_link href: @form.back_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">How to upload logs in bulk</h1>

    <div class="govuk-!-padding-bottom-4">
      <p class="govuk-body">You can upload one sales or lettings log at a time, or many at once (known as ‘bulk upload’) with a comma-separated values (CSV) spreadsheet file.</p>
      <p class="govuk-body">Bulk upload may be easier if your organisation deals with many logs, or if you can export CSV data from your Housing Management System (HMS).</p>

      <p class="govuk-body">If your organisation only deals with a small amount of logs, or you cannot export CSV data, it’s probably easier to create logs individually using the online form.</p>
    </div>

    <%= govuk_accordion do |accordion| %>
      <%= accordion.with_section(heading_text: "Exporting your data", expanded: true) do %>
        <p class="govuk-body">Export CSV data directly from your current systems.</p>
        <p class="govuk-body">You should export lettings and sales data separately, and data from different collection years separately.</p>
        <p class="govuk-body">The exported CSV file should have one row per log so that the data can fit into the bulk upload template.</p>
        <p class="govuk-body"><strong>If your organisation has an HMS</strong></p>
        <p class="govuk-body">Some HMS providers sell an add-on "eCORE" module, which exports CSV data in the format we require.</p>
        <p class="govuk-body"><strong>If your organisation does not have an HMS</strong></p>
        <p class="govuk-body">Your organisation’s IT team may be able to export CSV data for you, depending on how data is stored in your organisation.</p>
        <p class="govuk-body">Review the bulk upload template and specification carefully to understand how we expect data to be mapped and formatted. The next 2 sections explain more about these documents.</p>
      <% end %>

      <%= accordion.with_section(heading_text: "Using the bulk upload template") do %>
        <p class="govuk-body">For each collection year, we publish a bulk upload template and specification.</p>
        <p class="govuk-body">The bulk upload templates contain 8 rows of ‘headers’ with information about how to fill in the template, including:</p>

        <%= govuk_list ["the CORE form questions and their field numbers", "each field’s valid responses", "if/when certain fields can be left blank", "which fields are used to check for duplicate logs"], type: :bullet %>

        <p class="govuk-body">You can paste your data below the headers or copy the headers and insert them above the data in your file. Leave column A blank below the headers - your data should start in column B.</p>
        <p class="govuk-body">Make sure that each column of data aligns with the corresponding question in the headers. We recommend ordering your data to match the headers, but you can also reorder the headers to match your data. When processing the file, we check what each column of data represents based on the headers above.</p>
        <p class="govuk-body"><%= govuk_link_to "Download the lettings bulk upload template (#{@form.year} to #{@form.year + 1})", @form.lettings_template_path %></p>
        <p class="govuk-body"><%= govuk_link_to "Download the sales bulk upload template (#{@form.year} to #{@form.year + 1})", @form.sales_template_path %></p>
      <% end %>

      <%= accordion.with_section(heading_text: "Using the bulk upload specification") do %>
        <p class="govuk-body">The bulk upload specification contains the same information as the template headers, as well as more details about the accepted responses for each question. For multiple-choice questions, we use number or letter codes to represent each option, and the specification shows what answer each code represents.</p>
        <p class="govuk-body">There is a separate specification for lettings and sales:</p>
        <p class="govuk-body"><%= govuk_link_to "Download the lettings bulk upload specification (#{@form.year} to #{@form.year + 1})", @form.lettings_specification_path, target: "_blank" %></p>
        <p class="govuk-body"><%= govuk_link_to "Download the sales bulk upload specification (#{@form.year} to #{@form.year + 1})", @form.sales_specification_path, target: "_blank" %></p>
        <p class="govuk-body">If your upload fails because there are errors in the data, you can use the specification to help correct the errors. Having your file, the error report, and the specification open at the same time will make it easy to cross-reference field numbers and check accepted responses.</p>
      <% end %>

      <%= accordion.with_section(heading_text: "Saving your file as a CSV") do %>
        <p class="govuk-body">To bulk upload successfully, all spreadsheets must be in the correct CSV format. </p>
        <p class="govuk-body">If you’ve pasted your data into the template, you will need to resave the file as a CSV.</p>
        <p class="govuk-body">CSV files are unformatted, so any formatting added before saving (for example colours) will automatically disappear.</p>
        <p class="govuk-body"><strong>What is a CSV?</strong></p>
        <p class="govuk-body">A CSV file is a basic spreadsheet with data values in plain text, and columns separated by commas. Each data row is a new text line.</p>
        <p class="govuk-body">CSV data is easier to process than more common advanced spreadsheet formats, for example Excel. It means CSV is well suited to upload large data sets.</p>
        <p class="govuk-body"></p>
      <% end %>

      <%= accordion.with_section(heading_text: "Next steps") do %>
        <p class="govuk-body">Once you've saved your CSV file, you can upload it via a button at the top of the lettings and sales logs pages.</p>
        <p class="govuk-body">When your file is done processing, you will receive an email explaining your next steps. If all your data is valid, your logs will be created. If some data is invalid, you’ll receive an email with instructions about how to resolve the errors.</p>
        <p class="govuk-body">If your file has errors on fields 1 through 15 for lettings, or 1 through 18 for sales, you must fix these in the CSV. This is because we need to know these answers to validate the rest of the data. Any errors in these fields will be featured in the error report’s summary tab.</p>
        <p class="govuk-body">If none of your errors are in fields 1 through 15 for lettings, or 1 through 18 for sales, you can choose how to fix the errors. You can either fix them in the CSV and upload the file again, or create partially complete logs and answer the remaining questions on the CORE site. Any errors that affect a significant number of logs will be featured in the error report’s summary tab to help you decide.</p>
        <p class="govuk-body"></p>
      <% end %>

      <%= accordion.with_section(heading_text: "Getting help") do %>
        <p class="govuk-body">The bulk upload template and specification should contain all the information you need to format your data correctly and fix any errors found during processing. If you still need support with your bulk upload, <%= govuk_link_to "contact the helpdesk", GlobalConstants::HELPDESK_URL %>.</p>
      <% end %>
    <% end %>
  </div>
</div>
