<div class="govuk-grid-row govuk-!-padding-top-4">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <header class="app-log-summary__header">
              <h2 class="app-log-summary__title">
                <%= govuk_link_to "Log #{log.id}", send("#{log.log_type}_path", log) %>
              </h2>
            </header>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
              Created <time datetime="<%= log.created_at.iso8601 %>"><%= log.created_at.to_formatted_s(:govuk_date) %></time>
              <% if log.assigned_to %>
                <span class="app-log-summary__footer--actor">Assigned to <%= log.assigned_to.name || log.assigned_to.email %></span>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-third app-log-summary__footer">
        <p class="govuk-body govuk-!-margin-bottom-2">
          <%= status_tag(log.status) %>
        </p>
    </div>
</div>
