<% if applicable_questions.first %>
  <div class="govuk-summary-card govuk-!-margin-bottom-6">
    <% if check_answers_card_label(applicable_questions.first).present? %>
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title"><%= check_answers_card_label(applicable_questions.first) %></h3>
      </div>
    <% end %>

    <div class="govuk-summary-card__content">
      <%= govuk_summary_list do |summary_list| %>
        <% applicable_questions.each do |question| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key { get_question_label(question) } %>
            <% row.with_value do %>
              <%= simple_format(
                get_answer_label(question),
                wrapper_tag: "span",
                class: "govuk-!-margin-right-4",
              ) %>

              <% extra_value = question.get_extra_check_answer_value(log) %>

              <% if extra_value && question.answer_label(log).present? %>
                <%= simple_format(
                  extra_value,
                  wrapper_tag: "span",
                  class: "govuk-!-font-weight-regular app-!-colour-muted",
                ) %>
              <% end %>

              <% question.get_inferred_answers(log).each do |inferred_answer| %>
                <span class="govuk-!-font-weight-regular app-!-colour-muted"><%= inferred_answer %></span>
              <% end %>
            <% end %>

            <% if @log.collection_period_open_for_editing? %>
              <% row.with_action(
                text: question.action_text(log, correcting_hard_validation: @correcting_hard_validation),
                href: correct_validation_action_href(question, log, applicable_questions.map(&:id), @correcting_hard_validation),
                visually_hidden_text: question.check_answer_label.to_s.downcase,
              ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
