<div class="govuk-button-group app-filter-toggle <%= "govuk-!-margin-bottom-6" if display_actions? %>">
<% if display_actions? %>
    <%= govuk_button_to create_button_copy, create_button_href, class: "govuk-!-margin-right-3" %>
    <% unless user.support? %>
    <%= govuk_button_link_to upload_button_copy, upload_button_href, secondary: true %>
    <% end %>
    <% if user.support? %>
      <%= govuk_button_link_to view_uploads_button_copy, view_uploads_button_href, secondary: true %>
    <% end %>

    <% if FeatureToggle.create_test_logs_enabled? %>
      <%= govuk_button_link_to "Create test log", create_test_log_href, secondary: true %>
      <%= govuk_button_link_to "Create test log (setup only)", create_setup_test_log_href, secondary: true %>
    <% end %>
<% end %>
</div>
