<article class="app-log-summary">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <header class="app-log-summary__header">
        <h2 class="app-log-summary__title">
          <%= govuk_link_to lettings_log_path(log) do %>
            Log <%= log.id %>
          <% end %>
        </h2>
        <% if log.tenancycode? or log.propcode? %>
          <div class="app-metadata">
            <% if log.tenancycode? %>
              <div class="app-log-summary__details">Tenant <%= log.tenancycode %></div>
            <% end %>
            <% if log.propcode? %>
              <div class="app-log-summary__details">Property <%= log.propcode %></div>
            <% end %>
          </div>
        <% end %>
      </header>
      <% if log.needstype? or log.startdate? %>
        <p class="govuk-body govuk-!-margin-bottom-2">
          <% if log.needstype? %>
            <%= log.is_general_needs? ? "General needs" : "Supported housing" %><br>
          <% end %>
          <% if log.startdate? %>
            Tenancy starts <time datetime="<%= log.startdate.iso8601 %>"><%= log.startdate.to_formatted_s(:govuk_date) %></time>
          <% end %>
        </p>
      <% end %>
      <% if current_user.support? || current_user.organisation.has_managing_agents? || current_user.organisation.has_organisations_absorbed_during_displayed_collection_period? %>
        <dl class="app-metadata">
          <% if log.owning_organisation %>
            <div class="app-metadata__item">
              <dt class="app-metadata__term">Owned by</dt>
              <dd class="app-metadata__definition"><%= log.owning_organisation&.label(date: log.startdate) %></dd>
            </div>
          <% end %>
          <% if log.managing_organisation %>
            <div class="app-metadata__item">
              <dt class="app-metadata__term">Managed by</dt>
              <dd class="app-metadata__definition"><%= log.managing_organisation&.label(date: log.startdate) %></dd>
            </div>
          <% end %>
        </dl>
      <% end %>
    </div>
    <footer class="govuk-grid-column-one-third app-log-summary__footer">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <%= log_status %>
      </p>
      <p class="govuk-body">
        Created <time datetime="<%= log.created_at.iso8601 %>"><%= log.created_at.to_formatted_s(:govuk_date) %></time>
        <% if log.assigned_to %>
          <span class="app-log-summary__footer--actor">Assigned to <%= log.assigned_to.name || log.assigned_to.email %></span>
        <% end %>
      </p>
    </footer>
  </div>
</article>
