<nav class="app-<%= level %>-navigation" aria-label="<%= level %>">
  <div class="govuk-width-container">
    <ul class="app-<%= level %>-navigation__list">
      <% items.each do |item| %>
        <% if item.current %>
          <li class="app-<%= level %>-navigation__item app-<%= level %>-navigation__item--current">
            <%= govuk_link_to item[:text], item[:href], class: "app-#{level}-navigation__link", aria: { current: "page" } %>
          </li>
        <% else %>
          <li class="app-<%= level %>-navigation__item">
            <%= govuk_link_to item[:text], item[:href], class: "app-#{level}-navigation__link" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>
