<article class="app-log-summary">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <header class="app-log-summary__header">
        <h2 class="app-log-summary__title">
          <%= govuk_link_to sales_log_path(log) do %>
            Log <%= log.id %>
          <% end %>
        </h2>
          <% if log.purchaser_code %>
            <div class="app-metadata">
              <div class="app-log-summary__details">Purchaser <%= log.purchaser_code %></div>
            </div>
          <% end %>
      </header>
      <p class="govuk-body govuk-!-margin-bottom-2">
        <% if log.ownership_scheme %>
          <%= log.ownership_scheme(uppercase: true) %><br>
        <% end %>
        <% if log.saledate %>
          Sale completed <time datetime="<%= log.saledate.iso8601 %>"><%= log.saledate.to_formatted_s(:govuk_date) %></time>
        <% end %>
      </p>
      <% if current_user.support? || current_user.organisation.has_managing_agents? || current_user.organisation.has_recent_absorbed_organisations? %>
        <dl class="app-metadata">
          <% if log.owning_organisation %>
            <div class="app-metadata__item">
              <dt class="app-metadata__term">Owned by</dt>
              <dd class="app-metadata__definition"><%= log.owning_organisation&.label(date: log.startdate) %></dd>
            </div>
          <% end %>
          <% if log.managing_organisation %>
            <div class="app-metadata__item">
              <dt class="app-metadata__term">Reported by</dt>
              <dd class="app-metadata__definition"><%= log.managing_organisation&.label(date: log.startdate) %></dd>
            </div>
          <% end %>
        </dl>
      <% end %>
    </div>
    <footer class="govuk-grid-column-one-third app-log-summary__footer">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <%= log_status %>
      </p>
      <p class="govuk-body">
        Created <time datetime="<%= log.created_at.iso8601 %>"><%= log.created_at.to_formatted_s(:govuk_date) %></time>
        <% if log.assigned_to %>
          <span class="app-log-summary__footer--actor">Assigned to <%= log.assigned_to.name || log.assigned_to.email %></span>
        <% end %>
      </p>
    </footer>
  </div>
</article>
