<span>
  <% if searched.present? && filters_count&.positive? %>
    <strong><%= count %></strong> <%= item_label.pluralize(count) %> matching search and filters<br>
  <% elsif searched.present? %>
    <strong><%= count %></strong> <%= item_label.pluralize(count) %> matching search<br>
  <% elsif filters_count&.positive? %>
    <strong><%= count %></strong> <%= item_label.pluralize(count) %> matching filters<br>
  <% else %>
    <span class="govuk-!-margin-right-4">
      <strong><%= count %></strong> total <%= item.pluralize(count) %>
    </span>
  <% end %>
</span>
