<section class="app-table-group" tabindex="0" aria-labelledby="<%= title.dasherize %>">
  <%= govuk_table do |table| %>
    <%= table.with_caption(classes: %w[govuk-!-font-size-19 govuk-!-font-weight-regular]) do |caption| %>
    <span class="app-search__caption">
      <%= render(SearchResultCaptionComponent.new(searched:, count: pagy.count, item_label:, total_count:, item: "schemes", filters_count: applied_filters_count(@filter_type))) %>
      <% if @schemes&.any? %>
        <%= govuk_link_to "Download schemes (CSV)", schemes_csv_download_url, type: "text/csv", class: "govuk-!-margin-right-4", style: "white-space: nowrap" %>
        <%= govuk_link_to "Download locations (CSV)", locations_csv_download_url, type: "text/csv", class: "govuk-!-margin-right-4", style: "white-space: nowrap" %>
        <%= govuk_link_to "Download schemes and locations (CSV)", combined_csv_download_url, type: "text/csv", class: "govuk-!-margin-right-4", style: "white-space: nowrap" %>
      <% end %>
    </span>
    <% end %>
    <%= table.with_head do |head| %>
      <%= head.with_row do |row| %>
        <% row.with_cell(header: true, text: "Scheme", html_attributes: { scope: "col", class: "govuk-!-width-one-quarter" }) %>
        <% row.with_cell(header: true, text: "Stock owner", html_attributes: { scope: "col" }) %>
        <% row.with_cell(header: true, text: "Scheme code", html_attributes: { scope: "col" }) %>
        <% row.with_cell(header: true, text: "Locations", html_attributes: { scope: "col" }) %>
        <% row.with_cell(header: true, text: "Status", html_attributes: { scope: "col" }) %>
      <% end %>
    <% end %>
    <% @schemes.each do |scheme| %>
      <%= table.with_body do |body| %>
        <%= body.with_row do |row| %>
          <% row.with_cell(text: simple_format(scheme_cell(scheme), { class: "govuk-!-font-weight-bold scheme-name-cell" }, wrapper_tag: "div")) %>
          <% row.with_cell(text: scheme.owning_organisation&.name) %>
          <% row.with_cell(text: scheme.id_to_display) %>
          <% row.with_cell(text: scheme.locations.visible&.count) %>
          <% row.with_cell do %>
            <%= status_tag_from_resource(scheme) %>
            <% if scheme.active? && !scheme.has_active_locations? %>
              <%= content_tag(:div, "No currently active locations", class: "app-!-colour-muted", style: "margin-top: 10px") %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
