<section class="app-table-group" tabindex="0" aria-labelledby="<%= title.dasherize %>">
  <%= govuk_table do |table| %>
    <%= table.caption(classes: %w[govuk-!-font-size-19 govuk-!-font-weight-regular]) do |caption| %>
    <%= render(SearchResultCaptionComponent.new(searched:, count: pagy.count, item_label:, total_count:, item: "schemes", path: request.path)) %>
      <% end %>
    <%= table.head do |head| %>
      <%= head.row do |row| %>
        <% row.cell(header: true, text: "Code", html_attributes: {
          scope: "col",
        }) %>
        <% row.cell(header: true, text: "Scheme", html_attributes: {
          scope: "col",
        }) %>
        <% row.cell(header: true, text: "Managed by", html_attributes: {
          scope: "col",
        }) %>
        <% row.cell(header: true, text: "Created", html_attributes: {
          scope: "col",
        }) %>
      <% end %>
    <% end %>
    <% @schemes.each do |scheme| %>
      <%= table.body do |body| %>
        <%= body.row do |row| %>
          <% row.cell(text: scheme.id_to_display) %>
          <% row.cell(text: simple_format(scheme_cell(scheme), { class: "govuk-!-font-weight-bold" }, wrapper_tag: "div")) %>
          <% row.cell(text: scheme.organisation.name) %>
          <% row.cell(text: scheme.created_at.to_formatted_s(:govuk_date)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
