<% content_for :title, "Check your answers before creating this scheme" %>

<%= render partial: "organisations/headings", locals: { main: "Check your changes before creating this scheme", sub: @scheme.service_name } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <%= govuk_tabs(title: "Check your answers before creating this scheme") do |component| %>
      <% component.tab(label: "Scheme") do %>
        <%= govuk_summary_list do |summary_list| %>
          <% @scheme.display_attributes.each do |attr| %>
            <% next if current_user.data_coordinator? && attr[:name] == ("Housing stock owned by") %>
            <% next if @scheme.has_other_client_group == "No" && attr[:name] == ("Secondary client group") %>
            <%= summary_list.row do |row| %>
              <% row.key { attr[:name].eql?("Registered under Care Standards Act 2000") ? "Registered under Care Standards Act 2000" : attr[:name].to_s.humanize } %>
              <% row.value { details_html(attr) } %>
              <% row.action(text: "Change", href: scheme_edit_name_path(scheme_id: @scheme.id, check_answers: true)) if attr[:edit] %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% component.tab(label: "Locations") do %>
        <%= govuk_table do |table| %>
          <%= table.caption(classes: %w[govuk-!-font-size-19 govuk-!-font-weight-regular]) do |caption| %>
            <strong><%= @scheme.locations.count %></strong> <%= @scheme.locations.count.eql?(1) ? "location" : "locations" %>
          <% end %>
          <%= table.head do |head| %>
            <%= head.row do |row| %>
              <% row.cell(header: true, text: "Code", html_attributes: {
                scope: "col",
              }) %>
              <% row.cell(header: true, text: "Postcode", html_attributes: {
                scope: "col",
              }) %>
              <% row.cell(header: true, text: "Units", html_attributes: {
                scope: "col",
              }) %>
              <% row.cell(header: true, text: "Common unit type", html_attributes: {
                scope: "col",
              }) %>
            <% end %>
          <% end %>
          <% @scheme.locations.each do |location| %>
            <%= table.body do |body| %>
              <%= body.row do |row| %>
                <% row.cell(text: location.id) %>
                <% row.cell(text: simple_format(location_cell(location, "/schemes/#{@scheme.id}/locations/#{location.id}/edit"), { class: "govuk-!-font-weight-bold" }, wrapper_tag: "div")) %>
                <% row.cell(text: location.units) %>
                <% row.cell(text: simple_format("<span>#{location.type_of_unit}</span>#{location.wheelchair_adaptation == 'Yes' ? "\n<span class=\"govuk-!-font-weight-regular app-!-colour-muted\">With wheelchair adaptations</span>" : ''}")) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= govuk_button_link_to "Add a location", new_location_path(id: @scheme.id), secondary: true %>
      <% end %>
    <% end %>
  </div>
</div>

<%= govuk_button_link_to "Create scheme", schemes_path(scheme_id: @scheme.id), html: { method: :get } %>
