<% content_for :title, "Check your answers before creating this scheme" %>

<%= render partial: "organisations/headings", locals: { main: "Check your changes before creating this scheme", sub: @scheme.service_name } %>

<% location_caption = @scheme.locations.count.eql?(1) ? "1 location" : "#{@scheme.locations.count} locations" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <%= govuk_tabs(title: "Check your answers before creating this scheme") do |component| %>
      <% component.tab(label: "Scheme") do %>
        <%= govuk_summary_list do |summary_list| %>
          <% @scheme.check_details_attributes.each do |attr| %>
            <% next if current_user.data_coordinator? && attr[:name] == ("Managed by") %>
            <%= summary_list.row do |row| %>
              <% row.key { attr[:name].to_s } %>
              <% row.value { details_html(attr) } %>
              <% row.action(
                   text: "Change",
                   href: scheme_details_path(scheme_id: @scheme.id, check_answers: true),
                   ) %>
            <% end %>
          <% end %>
          <% @scheme.check_primary_client_attributes.each do |attr| %>
            <%= summary_list.row do |row| %>
              <% row.key { attr[:name].to_s } %>
              <% row.value { details_html(attr) } %>
              <% row.action(
                   text: "Change",
                   href: scheme_primary_client_group_path(scheme_id: @scheme.id, check_answers: true),
                   ) %>
            <% end %>
          <% end %>
          <% @scheme.check_secondary_client_confirmation_attributes.each do |attr| %>
            <%= summary_list.row do |row| %>
              <% row.key { attr[:name].to_s } %>
              <% row.value { details_html(attr) } %>
              <% row.action(
                   text: "Change",
                   href: scheme_confirm_secondary_client_group_path(scheme_id: @scheme.id, check_answers: true),
                   ) %>
            <% end %>
          <% end %>
          <% if @scheme.has_other_client_group == "Yes" %>
            <% @scheme.check_secondary_client_attributes.each do |attr| %>
              <%= summary_list.row do |row| %>
                <% row.key { attr[:name].to_s } %>
                <% row.value { details_html(attr) } %>
                <% row.action(
                     text: "Change",
                     href: scheme_secondary_client_group_path(scheme_id: @scheme.id, check_answers: true),
                     ) %>
              <% end %>
            <% end %>
          <% end %>
          <% @scheme.check_support_attributes.each do |attr| %>
            <%= summary_list.row do |row| %>
              <% row.key { attr[:name].to_s } %>
              <% row.value { details_html(attr) } %>
              <% row.action(
                   text: "Change",
                   href: scheme_support_path(scheme_id: @scheme.id, check_answers: true),
                   ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% component.tab(label: "Locations") do %>
        <%= govuk_table do |table| %>
          <%= table.caption(classes: %w[govuk-!-font-size-19 govuk-!-font-weight-regular]) do |caption| %>
            <%= render(SearchResultCaptionComponent.new(searched: nil, count: 1, item_label: "location", total_count: @scheme.locations.count, item: "schemes", path: request.path)) %>
          <% end %>
          <%= table.head do |head| %>
            <%= head.row do |row| %>
              <% row.cell(header: true, text: "Code", html_attributes: {
                scope: "col",
              }) %>
              <% row.cell(header: true, text: "Postcode", html_attributes: {
                scope: "col",
              }) %>
              <% row.cell(header: true, text: "Units", html_attributes: {
                scope: "col",
              }) %>
              <% row.cell(header: true, text: "Common unit type", html_attributes: {
                scope: "col",
              }) %>
              <% row.cell(header: true, text: "Actions", html_attributes: {
                scope: "col",
              }) %>
            <% end %>
          <% end %>
          <% @scheme.locations.each do |location| %>
            <%= table.body do |body| %>
              <%= body.row do |row| %>
                <% row.cell(text: location.id) %>
                <% row.cell(text: simple_format(location_cell(location), { class: "govuk-!-font-weight-bold" }, wrapper_tag: "div")) %>
                <% row.cell(text: location.total_units) %>
                <% row.cell(text: location.type_of_unit) %>
                <% row.cell(text: "Delete") %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= govuk_button_link_to "Create scheme", schemes_path(scheme_id: @scheme.id), html: { method: :get } %>
