<% content_for :title, "Does this scheme provide for another client group?" %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: "/schemes/#{@scheme.id}/primary-client-group",
  ) %>
<% end %>

<%= render partial: "organisations/headings", locals: { main: "Does this scheme provide for another client group?", sub: @scheme.service_name } %>

<%= form_for(:confirmed, method: :patch, url: scheme_secondary_client_group_path(scheme_id: @scheme.id)) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <% selection = ["Yes", "No"].map { |key, _| OpenStruct.new(id: key, name: key.to_s.humanize) } %>

      <%= f.govuk_collection_radio_buttons :selection,
        selection,
        :id,
        :name,
        { checked: "Yes" },
        legend: nil
      %>

      <%= f.govuk_submit "Save and continue" %>
    </div>
  </div>
<% end %>
