<% content_for :title, "Create a new supported housing scheme" %>

 <% content_for :before_content do %>
   <%= govuk_back_link(
     text: "Back",
     href: :back,
   ) %>
 <% end %>

 <%= render partial: "organisations/headings", locals: { main: "Create a new supported housing scheme", sub: nil } %>

 <%= form_for(@scheme, method: :patch) do |f| %>
   <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
       <%= f.govuk_error_summary %>

       <%= f.govuk_text_field :service_name,
         label: { text: "Scheme name", size: "m" },
         hint: { text: "This is how you’ll refer to this supported housing scheme within your organisation. For example, the name could relate to the address or location. You’ll be able to see the client group when selecting it." } %>

       <%= f.govuk_check_box :sensitive,
         1,
         0,
         checked: @scheme.sensitive?,
         multiple: false,
         label: { text: "This scheme contains confidential information" } %>

       <% null_option = [OpenStruct.new(id: "", name: "Select an option")] %>
       <% organisations = Organisation.all.map { |org| OpenStruct.new(id: org.id, name: org.name) } %>
       <% stock_org_answer_options = null_option + organisations %>

       <%= f.govuk_collection_select :stock_owning_organisation_id,
                                     stock_org_answer_options,
                                     :id,
                                     :name,
                                     label: { text: "Which organisation owns the housing stock for this scheme?", size: "m" },
                                     "data-controller": %w[accessible-autocomplete conditional-filter] %>

       <% if current_user.support? %>
         <%= f.govuk_collection_select :organisation_id,
                                       organisations,
                                       :id,
                                       :name,
                                       label: { text: "Which organisation manages this scheme?", size: "m" },
                                       options: { required: true },
                                       "data-controller": %w[accessible-autocomplete conditional-filter] %>
       <% end %>

       <% if current_user.data_coordinator? %>
         <%= f.hidden_field :organisation_id, value: current_user.organisation.id %>
       <% end %>

       <% scheme_types_selection = Scheme.scheme_types.keys.excluding("Missing").map { |key, _| OpenStruct.new(id: key, name: key.to_s.humanize) } %>

       <%= f.govuk_collection_radio_buttons :scheme_type,
         scheme_types_selection,
         :id,
         :name,
         legend: { text: "What is this type of scheme?", size: "m" } %>

       <% care_acts_selection = Scheme.registered_under_care_acts.keys.reverse.map { |key, _| OpenStruct.new(id: key, name: key.to_s.humanize) } %>

       <%= f.govuk_collection_radio_buttons :registered_under_care_act,
         care_acts_selection,
         :id,
         :name,
         legend: { text: "Is this scheme registered under the Care Standards Act 2000?", size: "m" } %>

        <%= f.hidden_field :page, value: "details" %>
        <% if request.query_parameters["check_answers"] == "true" %>
            <%= f.hidden_field :check_answers, value: "true" %>
        <% end %>
       <%= f.govuk_submit "Save and continue" %>
     </div>
   </div>
 <% end %>
