<% title = @scheme.service_name %>
<% content_for :title, title %>

<%= govuk_back_link(href: request.referer.to_s) %>

<%= render partial: "organisations/headings", locals: { main: @scheme.service_name, sub: nil } %>

<%= render SubNavigationComponent.new(items: scheme_items(request.path, @scheme.id, @scheme.locations.count.eql?(1) ? "1 location" : "#{@scheme.locations.count} locations")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <% @locations.each do |location| %>
      <section class="x-govuk-summary-card govuk-!-margin-bottom-6">
        <header class="x-govuk-summary-card__header">
          <h2 class="x-govuk-summary-card__title">
            <%= "#{location.address_line1}, #{location.address_line2}" %>
          </h2>
        </header>
        <div class="x-govuk-summary-card__body">
          <dl class="govuk-summary-list">
            <% location.display_attributes.each do |attribute| %>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  <%= attribute[:name] %>
                </dt>
                <dd class="govuk-summary-list__value app-!-font-tabular">
                  <span class="govuk-!-margin-right-4"><%= attribute[:value] %></span>
                  <% if attribute[:suffix] %>
                    <span class="govuk-!-font-weight-regular app-!-colour-muted"><%= attribute[:suffix] %></span>
                  <% end %>
                </dd>
              </div>
            <% end %>
          </dl>
        </div>
      </section>
    <% end %>
  </div>
</div>

<%== render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "locations" } %>
