<% title = @scheme.service_name %>
<% content_for :title, title %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: "/schemes",
  ) %>
<% end %>

<%= render partial: "organisations/headings", locals: { main: @scheme.service_name, sub: nil } %>

<% if FeatureToggle.location_toggle_enabled? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
<% end %>
      <%= render SubNavigationComponent.new(items: scheme_items(request.path, @scheme.id, "Locations")) %>

      <h2 class="govuk-visually-hidden">Scheme</h2>

      <%= govuk_summary_list do |summary_list| %>
        <% display_scheme_attributes(@scheme, current_user).each do |attr| %>
          <%= summary_list.row do |row| %>
            <% row.key { attr[:name] } %>
            <% row.value { details_html(attr) } %>
            <% row.action(text: "Change", href: scheme_edit_name_path(scheme_id: @scheme.id)) if attr[:edit] %>
          <% end %>
        <% end %>
      <% end %>

<% if FeatureToggle.location_toggle_enabled? %>
    </div>
  </div>
<% end %>

<% if FeatureToggle.scheme_toggle_enabled? %>
  <%= toggle_scheme_link(@scheme) %>
<% end %>
