<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: 'javascript:history.go(-1);',
  ) %>
<% end %>

<%= render partial: "organisations/headings", locals: { main: "What support does this scheme provide?", sub: @scheme.service_name } %>

<%= form_for(@scheme, method: :patch, url: scheme_check_answers_path(scheme_id: @scheme.id)) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= content_for(:title) %>
      </h1>

      <legend class="govuk-fieldset__legend">
      </legend>

      <% support_type_selection = Scheme.support_types.keys.excluding("Missing").map { |key, _| OpenStruct.new(id: key, name: key.to_s.humanize) } %>
      <%= f.govuk_collection_radio_buttons :support_type,
        support_type_selection,
        :id,
        :name,
        legend: { text: "Level of support given", size: "m" } %>

      <% intended_stay_selection = Scheme.intended_stays.keys.excluding("Missing").map { |key, _| OpenStruct.new(id: key, name: key.to_s.humanize) } %>
      <%= f.govuk_collection_radio_buttons :intended_stay,
        intended_stay_selection,
        :id,
        :name,
        legend: { text: "Intended length of stay", size: "m" } %>

      <%= f.govuk_submit "Save and continue" %>
    </div>
  </div>
<% end %>
