<% content_for :title, "What support does this scheme provide?" %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: request.query_parameters["check_answers"] ? "/schemes/#{@scheme.id}/check-answers" : "/schemes/#{@scheme.id}/secondary-client-group",
  ) %>
<% end %>

<%= render partial: "organisations/headings", locals: { main: "What support does this scheme provide?", sub: @scheme.service_name } %>

<%= form_for(@scheme, method: :patch) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :support_type,
                                           @scheme.support_level_options_with_hints,
                                           :id,
                                           :name,
                                           :description,
                                           legend: { text: "Level of support given", size: "m" },
                                           bold_labels: false %>

      <% intended_stay_selection = Scheme.intended_stays.keys.excluding("Missing").map { |key, _| OpenStruct.new(id: key, name: key.to_s.humanize) } %>
      <%= f.govuk_collection_radio_buttons :intended_stay,
                                           @scheme.intended_length_of_stay_options_with_hints,
                                           :id,
                                           :name,
                                           :description,
                                           legend: { text: "Intended length of stay", size: "m" },
                                           bold_labels: false %>

      <%= f.hidden_field :page, value: "support" %>

      <%= f.govuk_submit "Save and continue" %>
    </div>
  </div>
<% end %>
