<% content_for :title, "What support does this scheme provide?" %>

<% content_for :before_content do %>
  <%= govuk_back_link(href: scheme_back_button_path(@scheme, "support")) %>
<% end %>

<%= form_for(@scheme, method: :patch) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <%= render partial: "organisations/headings", locals: { main: "What support does this scheme provide?", sub: @scheme.service_name } %>
      <%= govuk_inset_text(text: "Only update a scheme if you’re fixing an error. If the scheme is changing,  create a new scheme.") if @scheme.confirmed? %>

      <%= f.govuk_collection_radio_buttons :support_type,
                                           Scheme.support_level_options_with_hints,
                                           :id,
                                           :name,
                                           :description,
                                           legend: { text: "Level of support given", size: "m" } %>

      <%= f.govuk_collection_radio_buttons :intended_stay,
                                           Scheme.intended_length_of_stay_options_with_hints,
                                           :id,
                                           :name,
                                           :description,
                                           legend: { text: "Intended length of stay", size: "m" } %>

      <%= f.hidden_field :page, value: "support" %>

      <% if params[:referrer] == "check-answers" %>
        <%= f.hidden_field :check_answers, value: "true" %>
        <%= f.govuk_submit "Save changes" %>
      <% else %>
        <%= f.govuk_submit "Save and continue" %>
      <% end %>
    </div>
  </div>
<% end %>
