<% title = "#{action.humanize} #{@scheme.service_name}" %>
<% content_for :title, title %>
<%= form_with model: @scheme, url: scheme_deactivate_path(@scheme), method: "patch", local: true do |f| %>
  <% content_for :before_content do %>
    <%= govuk_back_link(href: :back) %>
  <% end %>
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l"><%= @scheme.service_name %></span>
    <%= "This change will affect #{@scheme.lettings_logs.count} logs" %>
  </h1>
  <%= govuk_warning_text text: I18n.t("warnings.scheme.deactivation.review_logs") %>
  <%= f.hidden_field :confirm, value: true %>
  <%= f.hidden_field :deactivation_date, value: deactivation_date %>
  <div class="govuk-button-group">
    <%= f.govuk_submit "#{action.humanize} this scheme" %>
    <%= govuk_button_link_to "Cancel", scheme_details_path(@scheme), html: { method: :get }, secondary: true %>
  </div>
<% end %>
