<section class="app-table-group" tabindex="0" aria-labelledby="<%= title.dasherize %>">
  <table class="govuk-table">
    <caption id="<%= title.dasherize %>" class="govuk-!-font-size-19 govuk-!-font-weight-regular">
      <span class="govuk-!-margin-right-4">
        <strong><%= pagy.count %></strong> total <%= title.downcase %>
      </span>
      <%= govuk_link_to "Download (CSV)", "/logs.csv", type: "text/csv" %>
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Log</th>
        <th class="govuk-table__header" scope="col">Tenant</th>
        <th class="govuk-table__header" scope="col">Property</th>
        <th class="govuk-table__header" scope="col">Tenancy starts</th>
        <th class="govuk-table__header" scope="col">Log created</th>
        <th class="govuk-table__header" scope="col">Status</th>
        <% if current_user.support? %>
          <th class="govuk-table__header" scope="col">Owning organisation</th>
          <th class="govuk-table__header" scope="col">Managing organisation</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% case_logs.map do |log| %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          <%= govuk_link_to case_log_path(log) do %>
            <span class="govuk-visually-hidden">Log </span><%= log.id %>
          <% end %>
        </th>
        <td class="govuk-table__cell app-!-font-tabular">
          <%= log.tenant_code? ? log.tenant_code : "–" %>
        </td>
        <td class="govuk-table__cell app-!-font-tabular">
          <%= log.propcode? ? log.propcode : "–" %>
        </td>
        <td class="govuk-table__cell">
          <%= log.startdate.present? ? log.startdate.to_formatted_s(:govuk_date) : "–" %>
        </td>
        <td class="govuk-table__cell">
          <%= log.created_at.to_formatted_s(:govuk_date) %>
        </td>
        <td class="govuk-table__cell">
          <%= status_tag(log.status) %>
        </td>
        <% if current_user.support? %>
          <td class="govuk-table__cell">
            <%= log.owning_organisation.name %>
          </td>
          <td class="govuk-table__cell">
            <%= log.managing_organisation.name %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
