<section class="app-table-group" tabindex="0" aria-labelledby="<%= title.dasherize %>">
  <%= govuk_table do |table| %>
    <%= table.caption(classes: %w[govuk-!-font-size-19 govuk-!-font-weight-regular], id: title.dasherize) do |caption| %>
    <span class="govuk-!-margin-right-4">
      <% if defined?(searched) && searched.present? %>
        <strong><%= pagy.count %></strong> <%= item_label %> found matching ‘<%= searched %>’ of <strong><%= total_count %></strong> total <%= title.downcase %>. <%= govuk_link_to("Clear search", request.path) %>
      <% else %>
        <strong><%= pagy.count %></strong> total <%= title.downcase %>
      <% end %>
      </span>
      <%= govuk_link_to "Download (CSV)", "/logs.csv", type: "text/csv" %>
    <% end %>
    <%= table.head do |head| %>
      <%= head.row do |row| %>
        <% row.cell(header: true, text: "Log", html_attributes: {
          scope: "col",
        }) %>
        <% row.cell(header: true, text: "Tenant", html_attributes: {
          scope: "col",
        }) %>
        <% row.cell(header: true, text: "Property", html_attributes: {
          scope: "col",
        }) %>
        <% row.cell(header: true, text: "Tenancy starts", html_attributes: {
          scope: "col",
        }) %>
        <% row.cell(header: true, text: "Log created", html_attributes: {
          scope: "col",
        }) %>
        <% row.cell(header: true, text: "Log status", html_attributes: {
          scope: "col",
        }) %>
        <% if current_user.support? %>
          <% row.cell(header: true, text: "Owning organisation", html_attributes: {
            scope: "col",
          }) %>
          <% row.cell(header: true, text: "Managing organisation", html_attributes: {
            scope: "col",
          }) %>
        <% end %>
      <% end %>
    <% end %>
    <%= table.body do |body| %>
      <% case_logs.map do |log| %>
        <%= body.row do |row| %>
          <% row.cell(header: true, html_attributes: {
            scope: "row",
          }) do %>
            <%= govuk_link_to case_log_path(log) do %>
              <span class="govuk-visually-hidden">Log </span><%= log.id %>
            <% end %>
          <% end %>
          <% row.cell(
            text: log.tenant_code? ? log.tenant_code : "–",
            classes: "app-!-font-tabular",
          ) %>
          <% row.cell(
            text: log.propcode? ? log.propcode : "–",
            classes: "app-!-font-tabular",
          ) %>
          <% row.cell(text: log.startdate.present? ? log.startdate.to_formatted_s(:govuk_date) : "–") %>
          <% row.cell(text: log.created_at.to_formatted_s(:govuk_date)) %>
          <% row.cell do %>
            <%= status_tag(log.status) %>
          <% end %>
          <% if current_user.support? %>
            <% row.cell(text: log.owning_organisation&.name) %>
            <% row.cell(text: log.managing_organisation&.name) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
