<%= turbo_frame_tag "case_log_form", target: "_top" do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Tasklist for log
        <%= @case_log.id %></h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">This submission is
        <%= @case_log.status.to_s.humanize.downcase %></h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You've completed <%= get_subsections_count(@form, @case_log, :completed) %> of <%= get_subsections_count(@form, @case_log, :all) %> sections.</p>
      <p class="govuk-body govuk-!-margin-bottom-7">
        <% next_incomplete_section=get_next_incomplete_section(@form, @case_log) %>
        <a class="govuk-link" href="#<%= next_incomplete_section %>"
           data-controller="tasklist"
           data-action="tasklist#addHighlight"
           data-info=<%= next_incomplete_section %>>
          Skip to next incomplete section
        </a>
      </p>
      <%= render "tasklist", locals: { form: @form } %>
    </div>
  </div>
<% end %>
