<% content_for :title, "Logs" %>

<h1 class="govuk-heading-l">
  <%= content_for(:title) %>
</h1>

<%= render LogSearchComponent.new(current_user:, label: "Search by log ID, tenant code, property reference or postcode") %>

<div class="app-filter-layout" data-controller="filter-layout">
  <div class="govuk-button-group app-filter-toggle">
    <%= govuk_button_to "Create a new lettings log", case_logs_path %>
    <%#= govuk_link_to "Upload logs", bulk_upload_case_logs_path %>
  </div>

  <%= render partial: "log_filters" %>
  <% if @case_logs.present? %>
    <div class="app-filter-layout__content">
      <%= render partial: "log_list", locals: { case_logs: @case_logs, title: "Logs", pagy: @pagy } %>
      <%== render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "logs" } %>
    </div>
  <% end %>
</div>
