<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.govuk_email_field :email,
    label: { text: "Email address" },
    autocomplete: "email",
    spellcheck: "false"
  %>

  <%= f.govuk_submit "Resend unlock instructions" %>
<% end %>

<%= render "devise/shared/links" %>
