<% grant_page = log.form.get_question("grant", log).page %>
<% mortgage_page = log.form.get_question("mortgage", log).page %>
<% discount_page = log.form.get_question("discount", log).page %>
<% deposit_page = log.form.get_question("deposit", log).page %>
<%= govuk_details(summary_text: "How the financial values are calculated") do %>
  <p class="govuk-body">
  The mortgage amount <%= "(#{govuk_link_to 'Q105', send("#{log.class.name.underscore}_#{mortgage_page.id}_path", log)})".html_safe if mortgage_page.routed_to?(log, current_user) %>
   cash deposit <%= "(#{govuk_link_to 'Q109', send("#{log.class.name.underscore}_#{deposit_page.id}_path", log)})".html_safe if deposit_page.routed_to?(log, current_user) %>
   and grant <%= "(#{govuk_link_to 'Q102', send("#{log.class.name.underscore}_#{grant_page.id}_path", log)})".html_safe if grant_page.routed_to?(log, current_user) %>
   added together must equal
   the purchase price (<%= govuk_link_to "Q101", send("#{log.class.name.underscore}_#{log.form.get_question('value', log).page.id}_path", log) %>)
   multiplied by the discount stake <%= "(#{govuk_link_to '103', send("#{log.class.name.underscore}_#{discount_page.id}_path", log)})".html_safe if discount_page.routed_to?(log, current_user) %>
   </p>
<% end %>
