<% discount_question_link = question_link("discount", log, current_user) %>
<% grant_question_link = question_link("grant", log, current_user) %>
<% value_question_link = question_link("value", log, current_user) %>
<%= govuk_details(summary_text: "How the financial values are calculated") do %>
 <p class="govuk-body">
    <% if log.mortgage_used? || log.mortgageused.blank? %>
    <% mortgage_question_link = log.mortgageused.blank? ? question_link("mortgageused", log, current_user) : question_link("mortgage", log, current_user) %>
      The mortgage amount <%= mortgage_question_link %><% if grant_question_link.blank? %>
        and cash deposit <%= question_link("deposit", log, current_user) %>
      <% else %>, cash deposit <%= question_link("deposit", log, current_user) %>
        and grant <%= grant_question_link %>
      <% end %>
      added together must equal
    <% else %>
      <% if grant_question_link.blank? %>
        Cash deposit <%= question_link("deposit", log, current_user) %> must equal
      <% else %>
      Cash deposit <%= question_link("deposit", log, current_user) %>
      and grant <%= grant_question_link %>
      added together must equal
      <% end %>
    <% end %>
    the purchase price <%= value_question_link %>
      <% if discount_question_link.present? %>
        subtracted by the sum of the purchase price <%= value_question_link %>
        multiplied by the discount <%= discount_question_link %>
      <% end %>
   </p>
<% end %>
