<%= govuk_details(summary_text: "How the financial values are calculated") do %>
  <p class="govuk-body">
    <% if log.mortgage_used? || log.mortgageused.blank? %>
    <% mortgage_question_link = log.mortgageused.blank? ? question_link("mortgageused", log, current_user) : question_link("mortgage", log, current_user) %>
      The mortgage amount <%= mortgage_question_link %><% if log.type == 18 %>, cash deposit <%= question_link("deposit", log, current_user) %>,
        and cash discount <%= question_link("cashdis", log, current_user) %>
        added together
      <% else %>
        and cash deposit <%= question_link("deposit", log, current_user) %>
        added together
      <% end %>
    <% elsif log.mortgage_not_used? || log.mortgage_use_unknown? %>
        <% if log.type == 18 %>
          The cash deposit <%= question_link("deposit", log, current_user) %>,
          and cash discount <%= question_link("cashdis", log, current_user) %>
          added together
        <% else %>
          Cash deposit <%= question_link("deposit", log, current_user) %>
        <% end %>
    <% end %>
     must equal
    the purchase price <%= question_link("value", log, current_user) %>
    <% stairbought_page = log.form.get_question("stairbought", log).page %>
    <% if stairbought_page.routed_to?(log, current_user) %>
      multiplied by the percentage bought <%= question_link("stairbought", log, current_user) %>
    <% else %>
      multiplied by the percentage equity stake <%= question_link("equity", log, current_user) %>
    <% end %>
   </p>
<% end %>
