<% item_label = format_label(@pagy.count, "organisation") %>
<% title = format_title(@searched, "Organisations", current_user, item_label, @pagy.count, nil) %>

<% content_for :title, title %>

<%= render partial: "organisations/headings", locals: request.path == "/organisations" ? { main: "Organisations", sub: nil } : { main: @organisation.name, sub: "Organisations" } %>

<h2 class="govuk-visually-hidden">Organisations</h2>

<% if current_user.support? %>
  <%= govuk_button_link_to "Create a new organisation", new_organisation_path, html: { method: :get } %>
<% end %>

<%= render SearchComponent.new(current_user:, search_label: "Search by organisation name", value: @searched) %>

<%= govuk_section_break(visible: true, size: "m") %>

<%= render partial: "organisation_list", locals: { organisations: @organisations, title: "Organisations", pagy: @pagy, searched: @searched, item_label:, total_count: @total_count } %>
<%== render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "organisations" } %>
