<% item_label = format_label(@pagy.count, "log") %>
<% title = format_title(request.path, @searched, "Logs", current_user, item_label, @pagy.count, @organisation.name) %>

<% content_for :title, title %>

<h1 class="govuk-heading-l">
  <h1 class="govuk-heading-l"><%= @organisation.name %></h1>
</h1>

<%= render SubNavigationComponent.new(
  items: secondary_items(request.path, @organisation.id),
) %>

<h2 class="govuk-visually-hidden">Logs</h2>

<div class="app-filter-layout" data-controller="filter-layout">
  <%= render partial: "case_logs/log_filters" %>
  <div class="app-filter-layout__content">
    <%= render SearchComponent.new(current_user:, search_label: "Search by log ID, tenant code, property reference or postcode", value: @searched) %>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
    <%= render partial: "case_logs/log_list", locals: { case_logs: @case_logs, title: "Logs", pagy: @pagy, searched: @searched, item_label:, total_count: @total_count } %>
    <%== render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "logs" } %>
  </div>
</div>
