<% item_label = format_label(@pagy.count, "log") %>
<% title = format_title(@searched, action_name.humanize, current_user, item_label, @pagy.count, @organisation.name) %>

<% content_for :title, title %>

<%= render partial: "organisations/headings", locals: { main: @organisation.name, sub: nil } %>

<% if current_user.support? %>
  <%= render SubNavigationComponent.new(
    items: secondary_items(request.path, @organisation.id),
  ) %>
  <h2 class="govuk-visually-hidden">Logs</h2>
<% end %>

<% dpo_confirmation_banner = DataProtectionConfirmationBannerComponent.new(
  user: current_user,
  organisation: @organisation,
) %>
<%= render dpo_confirmation_banner %>

<% missing_stock_owner_banner = MissingStockOwnersBannerComponent.new(
  user: current_user,
  organisation: @organisation,
) %>
<%= render missing_stock_owner_banner %>

<% if @duplicate_sets_count&.positive? && !dpo_confirmation_banner.display_banner? && !missing_stock_owner_banner.display_banner? %>
  <%= govuk_notification_banner(title_text: "Important", text: govuk_link_to("Review logs", organisation_duplicates_path(@organisation, referrer: "duplicate_logs_banner"))) do |banner| %>
    <% banner.with_heading(text: I18n.t("notification.duplicate_sets", count: @duplicate_sets_count)) %>
  <% end %>
<% end %>

<div class="app-filter-layout" data-controller="filter-layout">
  <%= render partial: "logs/create_for_org_actions" %>

  <%= render partial: "logs/log_filters" %>
  <div class="app-filter-layout__content">
    <%= render SearchComponent.new(current_user:, search_label: search_label_for_action(action_name), value: @searched) %>
    <%= govuk_section_break(visible: true, size: "m") %>
    <%= render partial: "logs/log_list",
               locals: {
                 logs: @logs,
                 title: "Logs",
                 pagy: @pagy,
                 searched: @searched,
                 item_label:,
                 total_count: @total_count,
                 csv_download_url: csv_download_url_by_log_type(@log_type, @organisation, search: @search_term, codes_only: false),
                 csv_codes_only_download_url: csv_download_url_by_log_type(@log_type, @organisation, search: @search_term, codes_only: true),
                 delete_logs_path: @delete_logs_path,
                 filter_type: @filter_type,
               } %>
    <%= render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "logs" } %>
  </div>
</div>
