<% item_label = format_label(@pagy.count, "scheme") %>
<% title = format_title(@searched, "Supported housing schemes", current_user, item_label, @pagy.count, @organisation.name) %>

<% content_for :title, title %>

<%= render partial: "organisations/headings", locals: current_user.support? ? { main: @organisation.name, sub: nil } : { main: "Schemes", sub: current_user.organisation.name } %>

<% if current_user.support? %>
  <%= render SubNavigationComponent.new(
    items: secondary_items(request.path, @organisation.id),
  ) %>
<% end %>

<%= govuk_button_link_to "Create a new supported housing scheme", new_scheme_path, html: { method: :post } %>

<h2 class="govuk-visually-hidden">Supported housing schemes</h2>

<%= govuk_details(
  classes: "govuk-!-width-two-thirds",
  summary_text: "What is a supported housing scheme?",
  text: "A supported housing scheme (also known as a ‘supported housing service’) provides shared or self-contained housing for a particular client group, for example younger or vulnerable people. A single scheme can contain multiple units, for example bedrooms in shared houses or a bungalow with 3 bedrooms.",
) %>

<%= render SearchComponent.new(current_user:, search_label: "Search by scheme name, code or postcode", value: @searched) %>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

<%= render partial: "schemes/scheme_list", locals: { schemes: @schemes, title:, pagy: @pagy, searched: @searched, item_label:, total_count: @total_count } %>

<%== render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "schemes" } %>
