<% item_label = format_label(@pagy.count, "user") %>
<% title = format_title(@searched, "Users", current_user, item_label, @pagy.count, @organisation.name) %>

<% content_for :title, title %>

<%= render partial: "organisations/headings", locals: { main: @organisation.name, sub: nil } %>

<%= render SubNavigationComponent.new(
  items: secondary_items(request.path, @organisation.id),
) %>

<h2 class="govuk-visually-hidden">Users</h2>

<% if current_user.data_coordinator? || current_user.support? %>
  <%= govuk_button_link_to "Invite user", new_user_path(organisation_id: @organisation.id), html: { method: :get } %>
<% end %>

<%= render SearchComponent.new(current_user:, search_label: "Search by name or email address", value: @searched) %>

<%= govuk_section_break(visible: true, size: "m") %>

<%= render partial: "users/user_list", locals: { users: @users, title:, pagy: @pagy, searched: @searched, item_label:, total_count: @total_count } %>
<%== render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "users" } %>
