<div class="app-filter-layout__filter">
  <div class="app-filter">
    <div class="app-filter__header">
      <h2 class="govuk-heading-m">Filters</h2>
    </div>

    <div class="app-filter__content">
      <%= form_with url: specific_organisation_path? ? users_organisation_path(@organisation) : users_path, html: { method: :get } do |f| %>
        <div class="govuk-grid-row" style="white-space: nowrap">
          <p class="govuk-grid-column-one-half">
            <%= filters_applied_text(@filter_type) %>
          </p>
          <p class="govuk-!-text-align-right govuk-grid-column-one-half">
            <%= reset_filters_link(@filter_type, { search: request.params["search"], organisation_id: @organisation&.id }.compact) %>
          </p>
        </div>

        <%= render partial: "filters/checkbox_filter",
                   locals: {
                     f:,
                     options: user_status_filters,
                     label: "Status",
                     category: "status",
                     size: "s",
                   } %>

        <%= render partial: "filters/checkbox_filter",
                   locals: {
                     f:,
                     options: user_role_type_filters(current_user.support?),
                     label: "Role type",
                     category: "role",
                     size: "s",
                   } %>

        <%= render partial: "filters/checkbox_filter",
                   locals: {
                     f:,
                     options: user_additional_responsibilities_filters,
                     label: "Additional responsibilities",
                     category: "additional_responsibilities",
                     size: "s",
                   } %>

        <% if request.params["search"].present? %>
          <%= f.hidden_field :search, value: request.params["search"] %>
        <% end %>

        <%= f.govuk_submit "Apply filters", class: "govuk-!-margin-bottom-0" %>
      <% end %>
    </div>
  </div>
</div>
