<% content_for :before_content do %>
  <%= govuk_back_link(
    text: 'Back',
    href: :back,
  ) %>
<% end %>

<%= form_for(current_user, as: :user, html: { method: :patch }) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Change your personal details</h1>

      <%= f.govuk_text_field :name,
        autocomplete: "name"
      %>

      <%= f.govuk_email_field :email,
        label: { text: "Email address" },
        autocomplete: "email"
      %>

      <%= f.govuk_submit "Save changes" %>
    </div>
  </div>
<% end %>
