<% content_for :title, current_user == @user ? "Change your personal details" : "Change #{@user.name}’s personal details" %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: :back,
  ) %>
<% end %>

<%= form_for(@user, as: :user, html: { method: :patch }) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= content_for(:title) %>
      </h1>

      <%= f.govuk_text_field :name,
        autocomplete: "name" %>

      <%= f.govuk_email_field :email,
        label: { text: "Email address" },
        autocomplete: "email",
        spellcheck: "false" %>

      <% if current_user.data_coordinator? || current_user.support? %>
        <%= roles = current_user.assignable_roles.map { |key, _| OpenStruct.new(id: key, name: key.to_s.humanize) } %>

        <%= f.govuk_collection_radio_buttons :role,
          roles,
          :id,
          :name,
          legend: { text: "Role", size: "m" } %>

        <%= f.govuk_collection_radio_buttons :is_dpo,
          [OpenStruct.new(id: false, name: "No"), OpenStruct.new(id: true, name: "Yes")],
          :id,
          :name,
          inline: true,
          legend: { text: "Are #{pronoun(@user, current_user)} a data protection officer?", size: "m" } %>

        <%= f.govuk_collection_radio_buttons :is_key_contact,
          [OpenStruct.new(id: false, name: "No"), OpenStruct.new(id: true, name: "Yes")],
          :id,
          :name,
          inline: true,
          legend: { text: "Are #{pronoun(@user, current_user)} a key contact?", size: "m" } %>
      <% end %>

      <%= f.govuk_submit "Save changes" %>
    </div>
  </div>
<% end %>
