<% content_for :title, current_user == @user ? "Your account" : "#{@user.name.presence || @user.email}’s account" %>

<div class="govuk-grid-row">
    <%= form_for(@user, as: :user, html: { method: :patch }) do |f| %>
        <div class="govuk-grid-column-two-thirds-from-desktop"> 
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l"><%= @user.name %></span>
                Are you sure you want to reactivate this user?
            </h1>
            <%= f.govuk_text_field :active,
                                    value: true,
                                    hidden: true %>
            <%= f.govuk_submit "I’m sure - reactivate this user" %>
            <p class="govuk-body">
                <%= govuk_link_to("No - I’ve changed my mind", user_path(@user)) %>
            </p>
        </div>
    </div>
    <% end %>
</div>
