<% content_for :title, "Change your password" %>

<% content_for :before_content do %>
  <%= govuk_back_link(href: :back) %>
<% end %>

<%= form_for(resource, as: resource_name, html: { method: :patch }) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= content_for(:title) %>
      </h1>

      <%= f.govuk_password_field :password,
        label: { text: "New password" },
        hint: @minimum_password_length ? { text: "Your password must be at least #{@minimum_password_length} characters and hard to guess." } : nil,
        autocomplete: "new-password" %>

      <%= f.govuk_password_field :password_confirmation,
        label: { text: "Confirm new password" } %>

      <%= f.govuk_submit "Update" %>
    </div>
  </div>
<% end %>
