<% content_for :title, "Log #{@sales_log.id}" %>
<% content_for :breadcrumbs, govuk_breadcrumbs(breadcrumbs: {
  "Logs" => "/logs",
  content_for(:title) => "",
}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      <%= content_for(:title) %>
    </h1>

    <% if @sales_log.status == "in_progress" %>
      <p class="govuk-body govuk-!-margin-bottom-7"><%= get_subsections_count(@sales_log, :completed) %> of <%= get_subsections_count(@sales_log, :all) %> sections completed.</p>
      <p class="govuk-body govuk-!-margin-bottom-2">
        <% next_incomplete_section = get_next_incomplete_section(@sales_log) %>
      </p>
      <p>
        <% if next_incomplete_section.present? %>
          <a class="app-section-skip-link" href="#<%= next_incomplete_section.id.dasherize %>">
            Skip to next incomplete section: <%= next_incomplete_section.label %>
          </a>
        <% end %>
      </p>
    <% elsif @sales_log.status == "not_started" %>
      <p class="govuk-body">This log has not been started.</p>
    <% elsif @sales_log.status == "completed" %>
      <p class="govuk-body">
        <%= status_tag(@sales_log.status) %>
      </p>
      <p class="govuk-body">
        You can <%= govuk_link_to "review and make changes to this log", "/logs/#{@sales_log.id}/review" %> until 2nd June <%= @sales_log.collection_start_year.present? ? @sales_log.collection_start_year + 1 : "" %>.
      </p>
    <% end %>
    <%= render "tasklist" %>
  </div>
</div>
