<%= render partial: "form/interruption_screen_banner", locals: { question:, title_text:, informative_text:, lettings_log: } %>

<h1 class="govuk-heading-m">
  Make sure these answers are all correct
</h1>
<div class="x-govuk-summary-card govuk-!-margin-bottom-6">
  <div class="x-govuk-summary-card__body">

    <%= render partial: "form/check_answers_summary_list", locals: {
        lettings_log:,
        questions: soft_validation_affected_questions(question, @log).filter { |q| q.page.routed_to?(@log, current_user) },
        referrer: "interruption_screen",
    } %>
  </div>
</div>

<%= f.hidden_field question.id, value: "0" %>
<div class="govuk-button-group">
  <%= f.govuk_submit "Confirm and continue" %>
  <%= govuk_link_to(
    (@page.skip_text || "Skip for now"),
    (@page.skip_href(@log) || send(@log.form.next_page_redirect_path(@page, @log, current_user), @log)),
  ) %>
</div>
