<%= render partial: "form/guidance/#{question.guidance_partial}" if question.guidance_partial %>

<% selected = @case_log.public_send(question.id) || "" %>
<% answers = question.displayed_answer_options(@case_log).map { |key, value| OpenStruct.new(id: key, name: value.respond_to?(:service_name) ? value.service_name : nil, resource: value) } %>
<%= f.govuk_select(question.id.to_sym,
  label: legend(question, page_header, conditional),
  "data-controller": "accessible-autocomplete",
  caption: caption(caption_text, page_header, conditional),
  hint: { text: question.hint_text&.html_safe }) do %>
  <% answers.each do |answer| %>
    <option value="<%= answer.id %>"
      data-synonyms="<%= question.answer_option_synonyms(answer.resource) %>"
      data-append="<%= question.answer_option_append(answer.resource) %>"
      data-hint="<%= question.answer_option_hint(answer.resource) %>"
      <%= question.answer_selected(@case_log, answer) ? "selected" : "" %>
      <%= answer.id == "" ? "disabled" : "" %>><%= answer.name || answer.resource %></option>
  <% end %>
  <% end %>
