<% content_for :title, "#{subsection.id.humanize} - Check your answers" %>
<% content_for :breadcrumbs, govuk_breadcrumbs(breadcrumbs: {
  "Logs" => "/logs",
  "Log #{@case_log.id}" => "/logs/#{@case_log.id}",
  subsection.label => "",
}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= subsection.label %></span>
      Check your answers
    </h1>

    <% if subsection.id == "setup" && subsection.status(@case_log) == :completed %>
      <%= govuk_inset_text(text: "Changing these answers might remove answers you’ve already given in other sections.") %>
    <% end %>
    <%= display_answered_questions_summary(subsection, @case_log) %>

    <dl class="govuk-summary-list">
      <% subsection.applicable_questions(@case_log).each do |question| %>
        <%= render partial: "form/check_answers_table", locals: { question:, case_log: @case_log } %>
      <% end %>
    </dl>

    <%= form_with model: @case_log, method: "get" do |f| %>
      <%= f.govuk_submit "Save and return to log" do %>
        <% if @case_log.status == "in_progress" %>
          <%= govuk_button_link_to "Save and go to next incomplete section", "/logs/#{@case_log.id}/#{@case_log.form.next_incomplete_section_redirect_path(subsection, @case_log)}", secondary: true %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
