<%= turbo_frame_tag "case_log_form", target: "_top" do %>
  <h1 class="govuk-heading-l">Check the answers you gave for household characteristics</h1>
  <% subsection_pages.each do |page, page_info| %>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= page_info["check_answer_label"].to_s %>
        <dt>
        <dd class="govuk-summary-list__value">
          <%= case_log[page] %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if case_log[page].blank? %>
            <%= link_to "Answer", "/case_logs/#{case_log_id}/#{page}", class: "govuk-link" %>
          <% else %>
            <%= link_to "Change", "/case_logs/#{case_log_id}/#{page}", class: "govuk-link" %>
          <% end %>
        </dd>
      </div>
    </dl>
  <% end %>
  <%= form_with action: '/case_logs', method: "next_page", builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
    <%= f.govuk_submit "Save and continue"  %>
  <% end %>
<% end %>
