<% content_for :title, "#{subsection} – #{t('service_name')} - GOV.UK" %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: 'Back',
    href: 'javascript:history.back()',
  ) %>
<% end %>

<%= turbo_frame_tag "case_log_form", target: "_top" do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <% if page.header.present? %>
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l"><%= subsection %></span>
          <%= page.header %>
        </h1>
      <% end %>
      <%= form_with model: @case_log, url: form_case_log_path(@case_log), method: "post" do |f| %>
        <%= f.govuk_error_summary %>
        <% page.questions.map do |question| %>
          <div id=<%= question.id + "_div " %><%= display_question_key_div(page, question) %> >
            <%= render partial: "form/#{question.type}_question", locals: { question: question, caption: subsection, page_header: page.header, f: f } %>
          </div>
        <% end %>

        <% if page.has_soft_validations? %>
          <%= render partial: "form/validation_override_question", locals: { f: f, page: page } %>
        <% end %>

        <%= f.hidden_field :page, value: page.id %>
        <%= f.govuk_submit "Save and continue"  %>
      <% end %>
    </div>
  </div>
<% end %>
