<% content_for :before_content do %>
  <%= govuk_back_link href: "/case_logs/#{@case_log.id}/#{back_path}" do %>
   Back
  <% end %>
<% end %>

<%= turbo_frame_tag "case_log_form", target: "_top" do %>

  <% if page_info["header"].present? %>
    <h1 class="govuk-heading-xl">
      <%= page_info["header"] %>
    </h1>
  <% end %>
  <%= form_with model: @case_log, method: "submit_form", builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
    <%= f.govuk_error_summary %>
    <% page_info["questions"].map do |question_key, question| %>
      <div id=<%= question_key + "_div " %><%= display_question_key_div(page_info, question_key) %> >
        <%= render partial: "form/#{question["type"]}_question", locals: { question_key: question_key.to_sym, question: question, f: f } %>
      </div>
    <% end %>

    <% if @case_log.soft_errors.present? %>
      <%= render partial: "form/validation_override_question", locals: { f: f } %>
    <% end %>

    <%= f.hidden_field :page, value: page_key %>
    <%= f.govuk_submit "Save and continue"  %>
  <% end %>
<% end %>
