<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<% content_for :title, @page.header.present? ? @page.header : @page.questions.first().header.html_safe %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: 'Back',
    href: 'javascript:history.back()',
  ) %>
<% end %>

<div data-controller="govukfrontend"></div>

<%= turbo_frame_tag "case_log_form", target: "_top" do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <% if @page.header.present? %>
        <h1 class="govuk-heading-l">
          <% if !@page.hide_subsection_label %>
            <span class="govuk-caption-l"><%= @subsection.label %></span>
          <% end %>
          <%= @page.header %>
        </h1>
      <% end %>

      <% if @page.description.present? %>
        <p class="govuk-body govuk-body-m"><%= @page.description.html_safe %></p>
      <% end %>

      <%= form_with model: @case_log, url: form_case_log_path(@case_log), method: "post" do |f| %>
        <%= f.govuk_error_summary %>
        <% @page.non_conditional_questions.map do |question| %>
          <div id=<%= question.id + "_div " %><%= display_question_key_div(@page, question) %> >
            <% if question.read_only? %>
              <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
            <% end %>
            <%= render partial: "form/#{question.type}_question", locals: { question: question, caption: @subsection.label, page_header: @page.header, f: f } %>
          </div>
        <% end %>

        <% if @page.has_soft_validations? %>
          <%= render partial: "form/validation_override_question", locals: { f: f, page: @page } %>
        <% end %>

        <%= f.hidden_field :page, value: @page.id %>
        <%= f.govuk_submit "Save and continue"  %>
      <% end %>
    </div>
  </div>
<% end %>
