<% content_for :title, "Review lettings log" %>
<% content_for :breadcrumbs, govuk_breadcrumbs(breadcrumbs: {
  "Logs" => "/logs",
  "Log #{@case_log.id.to_s}" => "/logs/" + @case_log.id.to_s,
  "Review lettings log" => ""
}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      <%= content_for(:title) %>
    </h1>
    <p class="govuk-body">
      You can review and make changes to this log up to 3 months after the end of the current collection year, which closes on 31 March <%= @case_log.collection_start_year.present? ? @case_log.collection_start_year + 1 : "" %>.
    </p>
    <% @case_log.form.sections.map do |section|  %>
      <h2 class="govuk-heading-m"><%= section.label %></h2>
      <% section.subsections.map do |subsection|  %>
        <div class="x-govuk-summary-card govuk-!-margin-bottom-6">
          <div class="x-govuk-summary-card__header">
            <h3 class="x-govuk-summary-card__title"><%= subsection.label %></h3>
          </div>
          <div class="x-govuk-summary-card__body">
            <%= render partial: 'form/check_answers_summary_list', locals: {
              subsection:,
              case_log: @case_log,
            } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
