<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row govuk-!-margin-bottom-7">
        <span class="govuk-body-l"><%= "Welcome back, #{@current_user.name}" %></span>
        <h1 class="govuk-heading-l"><%= heading_for_user_role(@current_user) %></h1>
      </div>
      <div class="govuk-grid-row">
        <div class="app-data-box-group">
          <% if @current_user.support? || (@current_user.data_coordinator? && @current_user.sales_logs.present?) %>
            <div class="app-data-box-group-one-third">
              <div class="app-data-box-one-third">
                <span><%= render partial: "home/data_box", locals: { type: "lettings" } %></span>
              </div>
              <div class="app-data-box-one-third">
                <span><%= render partial: "home/data_box", locals: { type: "sales" } %></span>
              </div>
              <div class="app-data-box-one-third">
                <span><%= render partial: "home/data_box", locals: { type: "schemes" } %></span>
              </div>
            </div>
          <% else %>
            <div class="app-data-box-group-one-half">
              <div class="app-data-box-one-half">
                <span><%= render partial: "home/data_box", locals: { type: "lettings" } %></span>
              </div>
              <% if @current_user.data_coordinator? %>
                <div class="app-data-box-one-half">
                  <span><%= render partial: "home/data_box", locals: { type: "schemes" } %></span>
                </div>
              <% elsif @current_user.sales_logs.present? %>
                <div class="app-data-box-one-half">
                  <span><%= render partial: "home/data_box", locals: { type: "sales" } %></span>
                </div>
              <% else %>
                <div class="app-data-box-one-half">
                  <span><%= render partial: "home/data_box", locals: { type: "misc" } %></span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="app-data-box__underline">
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
        </div>
      </div>
      <div class="govuk-grid-row">
        <%= render partial: "layouts/collection_resources" %>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
        <%= render partial: "home/upcoming_deadlines" %>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
        <%= render partial: "layouts/about_core" %>
      </div>
    </div>
  </div>
</div>
