<% item_label = format_label(@pagy.count, "organisation") %>
<% title = "Housing Providers" %>

<% content_for :title, title %>

<%= render partial: "organisations/headings", locals: { main: "Your housing providers", sub: nil } %>

<p>Your organisation can submit logs for its housing providers.</p>

<% if current_user.support? %>
  <%= govuk_button_link_to "Add a housing provider", new_housing_provider_path, html: { method: :get } %>
<% end %>

<%= render SearchComponent.new(current_user:, search_label: "Search for a housing provider", value: @searched) %>

<%= govuk_section_break(visible: true, size: "m") %>

<%= render partial: "organisations/organisation_list", locals: { organisations: @organisations, title: "Organisations", pagy: @pagy, searched: @searched, item_label:, total_count: @total_count } %>
<%== render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "organisations" } %>
