<% content_for :before_content do %>
  <% content_for :title, "Are you sure you want to delete the #{@collection_resource.short_display_name.downcase}?" %>
  <%= govuk_back_link href: collection_resources_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l"><%= "#{@collection_resource.log_type.humanize} #{text_year_range_format(@collection_resource.year)}" %></span>
    <h1 class="govuk-heading-xl">
      <%= content_for(:title) %>
    </h1>
    <p class="govuk-body app-!-colour-muted">
      This file will no longer be available for users to download.
    </p>

    <%= govuk_warning_text(text: "You will not be able to undo this action.") %>

    <div class="govuk-button-group">
      <%= govuk_button_to(
        "Delete resource",
        "/",
        method: :delete,
      ) %>
      <%= govuk_button_link_to(
        "Cancel",
        collection_resources_path,
        secondary: true,
      ) %>
    </div>
  </div>
</div>
