<% content_for :before_content do %>
  <%= govuk_back_link href: collection_resources_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @collection_resource, url: collection_resources_path, method: :post do |f| %>
      <%= f.hidden_field :year %>
      <%= f.hidden_field :log_type %>
      <%= f.hidden_field :mandatory, value: false %>

      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= "#{@collection_resource.log_type.humanize} #{text_year_range_format(@collection_resource.year)}" %></span>
      <h1 class="govuk-heading-l">Add a new collection resource</h1>

      <p class="govuk-body">
        This file will be available for all users to download.
      </p>

      <%= f.govuk_file_field :file,
        label: { text: "Upload file", size: "m" } %>

      <%= f.govuk_text_field :short_display_name,
                      label: nil,
                      hint: { text: "This will be used in the download link on the homepage. Do not include the log type or collection year.</br>For example, if you enter “bulk upload change log”, the download link will say “Download the #{@collection_resource.log_type} bulk upload change log (#{text_year_range_format(@collection_resource.year)})”.".html_safe } %>

      <%= f.govuk_submit "Add resource" %>
      <%= govuk_button_link_to "Cancel", collection_resources_path, secondary: true %>
    <% end %>
  </div>
</div>
