<% content_for :before_content do %>
  <%= govuk_back_link href: @form.back_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, scope: :form, url: bulk_upload_sales_log_path(id: "prepare-your-file"), method: :patch do |f| %>
      <%= f.hidden_field :year %>

      <span class="govuk-caption-l">Upload sales logs in bulk (<%= @form.year_combo %>)</span>
      <h1 class="govuk-heading-l">Prepare your file</h1>

      <p class="govuk-inset-text">If your housing management system still exports data in exactly the old order we recommend using this <%= govuk_link_to "bulk sales template", @form.old_template_path %> instead of the one listed below.</p>
      <h2 class="govuk-heading-m">Create your file</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Download the <%= govuk_link_to "bulk sales template (new ordering)", @form.template_path %></li>
        <li>Export the data from your housing management system, matching the template. Find out more about exporting your data</li>
        <li>If you can not export it in this format, you may have to input it manually onto the template</li>
        <li>You can not have a file with both general needs logs and supported housing logs. These must be in separate files</li>
      </ul>

      <h2 class="govuk-heading-m">Check your data</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Check data is complete and formatted correctly, using <%= govuk_link_to "Sales 2022-23 Bulk Upload Specification", @form.specification_path %></li>
      </ul>

      <h2 class="govuk-heading-m">Save your file</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Save the file (CSV format <strong>only</strong>)</li>
      </ul>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
