<% content_for :before_content do %>
  <%= govuk_back_link href: @form.back_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, scope: :form, url: bulk_upload_sales_log_path(id: "prepare-your-file"), method: :patch do |f| %>
      <%= f.hidden_field :year %>

      <span class="govuk-caption-l">Upload sales logs in bulk (<%= @form.year_combo %>)</span>
      <h1 class="govuk-heading-l">Prepare your file</h1>

      <h2 class="govuk-heading-s">Download template</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>If your organisation is new to using bulk upload or you have updated your HMS export use <%= govuk_link_to "this template (improved question ordering)", @form.template_path %></li>
        <li>If your organisation was using bulk upload on the previous CORE website and hasn't changed its HMS to be compatible with the new CORE service, use <%= govuk_link_to "this template", @form.old_template_path %></li>
      </ul>

      <h2 class="govuk-heading-s">Create your file</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Fill in the template with CORE data from your housing management system according to the <%= govuk_link_to "Sales #{@form.year_combo} Bulk Upload Specification", @form.specification_path %></li>
        <li>If you have to manually enter large volumes of data into the bulk upload template, we recommend creating logs directly in the service instead. <%= govuk_link_to "Find out more about exporting your data", guidance_bulk_upload_sales_logs_path, year:%></li>
      </ul>

      <h2 class="govuk-heading-s">Save your file</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Save your file as a CSV</li>
        <li>Your file should now be ready to upload</li>
      </ul>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
