<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, scope: :form, url: page_bulk_upload_lettings_resume_path(@bulk_upload, page: "fix-choice"), method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">Upload lettings logs in bulk (<%= @bulk_upload.year_combo %>)</span>
      <h1 class="govuk-heading-l">How would you like to fix the errors?</h1>

      <div class="govuk-body-l">
        File: <%= @bulk_upload.filename %>
      </div>

      <div class="govuk-body">
        <%= bulk_upload_error_summary(@bulk_upload) %>
      </div>

      <div class="govuk-body">
        <%= @form.recommendation %>
      </div>

      <div class="govuk-body">
        <%= govuk_link_to "View the error report", @form.error_report_path %>
      </div>

      <%= govuk_details(summary_text: "How to choose between fixing errors on the CORE site or in the CSV") do %>
        <p class="govuk-body govuk-!-margin-bottom-2">You may find it easier to fix the errors in the CSV file if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you have a lot of errors</li>
          <li>the CSV file is formatted incorrectly and you can see where the errors are</li>
          <li>you need to fix multiple errors at once</li>
        </ul>
        <p class="govuk-body govuk-!-margin-bottom-2">You may find it easier to fix the errors on the CORE site if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you need to see the data in context</li>
          <li>you have a smaller file, with a few errors</li>
          <li>you are not sure where the errors are</li>
        </ul>
      <% end %>

      <%= f.govuk_collection_radio_buttons :choice,
            @form.options,
            :id,
            :name,
            legend: { hidden: true } %>

      <div class="govuk-button-group">
        <%= f.govuk_submit %>
        <% if @soft_errors_only %>
          <%= govuk_button_link_to "Cancel", bulk_upload_lettings_soft_validations_check_url(@bulk_upload, page: "confirm-soft-errors"), secondary: true %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
