<%= f.govuk_select(category.to_sym,
  label: { text: label, hidden: secondary },
  "data-controller": "search conditional-filter") do %>
    <% collection.each do |answer| %>
      <option value="<%= answer.id %>"
        data-hint="<%= answer.hint %>"
        <%= answer.id.to_s == selected_option(category, @filter_type).to_s ? "selected" : "" %>
        <%= answer.id == "" ? "disabled" : "" %>><%= answer.name %></option>
    <% end %>
  <% end %>
