<%= form_with html: { method: :get }, url: update_csv_filters_url(@filter_type, @filter, @organisation_id) do |f| %>
  <%= render partial: "filters/radio_filter", locals: {
    f:,
    options: {
      "all": { label: "Any managing organisation" },
      "specific_org": {
        label: "Specific managing organisation",
        conditional_filter: {
          type: "select",
          label: "Managed by",
          category: "managing_organisation",
          options: managing_organisation_filter_options(current_user),
        },
      },
    },
    label: "Managed by",
    category: "managing_organisation_select",
    size: "l",
  } %>

  <% if request.params["search"].present? %>
    <%= f.hidden_field :search, value: request.params["search"] %>
  <% end %>
  <%= f.hidden_field :codes_only, value: request.params["codes_only"] %>

  <div class="govuk-button-group">
    <%= f.govuk_submit "Save changes" %>
    <%= govuk_button_link_to "Cancel", cancel_csv_filters_update_url(@filter_type, request.params["search"], request.params["codes_only"], @organisation_id), secondary: true %>
  </div>
<% end %>
