<%= form_with html: { method: :get }, url: send("filters_update_#{@filter}_#{@filter_type}_path") do |f| %>
  <%= render partial: "filters/checkbox_filter",
             locals: {
                f:,
                options: status_filters,
                label: "Status",
                category: "status",
                size: "l",
              } %>

  <% if request.params["search"].present? %>
    <%= f.hidden_field :search, value: request.params["search"] %>
  <% end %>
  <%= f.hidden_field :codes_only, value: request.params["codes_only"] %>

  <div class="govuk-button-group">
    <%= f.govuk_submit "Save changes" %>
    <%= govuk_button_link_to "Cancel", send("csv_download_#{@filter_type}_path", search: request.params["search"], codes_only: request.params["codes_only"]), secondary: true %>
  </div>
<% end %>
