<div class="app-filter-layout__filter">
  <div class="app-filter">
    <div class="app-filter__header">
      <h2 class="govuk-heading-m">Filters</h2>
    </div>

    <div class="app-filter__content">
      <%= form_with html: { method: :get } do |f| %>
        <% years = { "2021": "2021/22", "2022": "2022/23" } %>
        <% all_or_yours = { "all": { label: "All" }, "yours": { label: "Yours" } } %>
        <% bulk_upload_options = (@session_filters["bulk_upload_id"] || []).reject(&:blank?).index_with { |_bulk_upload_id| "With logs from bulk upload" } %>

        <% if bulk_upload_options.present? %>
          <%= render partial: "filters/checkbox_filter",
                     locals: {
                       f: f,
                       options: bulk_upload_options,
                       label: "Bulk upload",
                       category: "bulk_upload_id",
                     } %>
        <% end %>

        <% if bulk_upload_options.blank? %>
          <%= render partial: "filters/checkbox_filter",
                     locals: {
                       f: f,
                       options: years,
                       label: "Collection year",
                       category: "years",
                     } %>

          <%= render partial: "filters/checkbox_filter",
                     locals: {
                       f: f,
                       options: status_filters,
                       label: "Status",
                       category: "status",
                     } %>
        <% end %>

        <%= render partial: "filters/radio_filter",
                   locals: {
                     f: f,
                     options: all_or_yours,
                     label: "Logs",
                     category: "user",
                   } %>

        <% if (@current_user.support? || @current_user.organisation.has_managing_agents?) && request.path == "/lettings-logs" %>
          <%= render partial: "filters/radio_filter", locals: {
            f: f,
            options: {
              "all": { label: "All" },
              "specific_org": {
                label: "Specific organisation",
                conditional_filter: {
                  type: "select",
                  label: "Organisation",
                  category: "organisation",
                  options: organisations_filter_options(@current_user),
                },
              },
            },
            label: "Organisation",
            category: "organisation_select",
          } %>
        <% end %>

        <%= f.govuk_submit "Apply filters", class: "govuk-!-margin-bottom-0" %>
      <% end %>
    </div>
  </div>
</div>
