<% content_for :before_content do %>
  <% content_for :title, "Are you sure you want to delete #{@duplicate_logs.count == 1 ? 'this duplicate log' : 'these duplicate logs'}?" %>
  <%= govuk_back_link href: @log.lettings? ? lettings_log_duplicate_logs_path(@original_log, original_log_id: @original_log.id, referrer: params[:referrer], organisation_id: params[:organisation_id]) : sales_log_duplicate_logs_path(@original_log, original_log_id: @original_log.id, referrer: params[:referrer], organisation_id: params[:organisation_id]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l">Delete duplicate logs</span>
    <h1 class="govuk-heading-l">
      <%= content_for(:title) %>
    </h1>

    <%= govuk_warning_text(text: "You will not be able to undo this action.") %>

    <p class="govuk-body govuk-!-margin-bottom-2">
      <%= @duplicate_logs.count == 1 ? "This log" : "These logs" %> will be deleted:
    </p>
    <%= govuk_list(@duplicate_logs.map { |log| "<strong>#{govuk_link_to "Log #{log.id}", url_for(log)}</strong>".html_safe }) %>

    <div class="govuk-button-group">
      <%= govuk_button_to @duplicate_logs.count == 1 ? "Delete this log" : "Delete these logs",
        send("delete_logs_#{@log.class.name.underscore}s_path"),
        method: "delete",
        params: { ids: @duplicate_logs.map(&:id), original_log_id: @original_log.id, remaining_log_id: @log.id, referrer: params[:referrer], organisation_id: params[:organisation_id] } %>
      <%= govuk_button_link_to(
        "Cancel",
        send("#{@log.class.name.underscore}_duplicate_logs_path", @original_log, original_log_id: @original_log.id, referrer: params[:referrer], organisation_id: params[:organisation_id]),
        secondary: true,
      ) %>
    </div>
  </div>
</div>
