<% item_label = format_label(@pagy.count, "logs") %>
<% title = format_title(@searched, "Logs", current_user, item_label, @pagy.count, nil) %>

<% content_for :title, title %>

<% if current_page?(controller: 'lettings_logs', action: 'index') %>
  <% if @logs_to_update > 0 %>
    <%= govuk_notification_banner(
      title_text: "Important",
      title_heading_level: 3,
      title_id: "impacted-logs-banner",
    ) do |notification_banner| %>
      <% notification_banner.heading(text: "A scheme has changed and it has affected #{@logs_to_update} #{@logs_to_update > 1 ? 'logs' : 'log'}") %>
      <div class="govuk-notification-banner__heading">
        <a class="govuk-notification-banner__link" href="./lettings-logs/update-logs">Update logs</a>
      </div>
    <% end %>
  <% end %>
  <%= render partial: "organisations/headings", locals: current_user.support? ? { main: "Lettings logs", sub: nil } : { main: "Lettings logs", sub: current_user.organisation.name } %>
<% elsif current_page?(controller: 'sales_logs', action: 'index') %>
  <%= render partial: "organisations/headings", locals: current_user.support? ? { main: "Sales logs", sub: nil } : { main: "Sales logs", sub: current_user.organisation.name } %>
<% end %>

<div class="app-filter-layout" data-controller="filter-layout">
  <div class="govuk-button-group app-filter-toggle">
    <% if current_page?(controller: 'lettings_logs', action: 'index') %>
      <%= govuk_button_to "Create a new lettings log", lettings_logs_path %>
    <% end %>
    <% if FeatureToggle.sales_log_enabled? && current_page?(controller: 'sales_logs', action: 'index') %>
      <%= govuk_button_to "Create a new sales log", sales_logs_path %>
    <% end %>
    <%#= govuk_link_to "Upload logs", bulk_upload_lettings_logs_path %>
  </div>

  <%= render partial: "log_filters" %>
  <div class="app-filter-layout__content">
    <%= render SearchComponent.new(current_user:, search_label: "Search by log ID, tenant code, property reference or postcode", value: @searched) %>
    <%= govuk_section_break(visible: true, size: "m") %>
    <%= render partial: "log_list", locals: { logs: @logs, title: "Logs", pagy: @pagy, searched: @searched, item_label:, total_count: @total_count, csv_download_url: csv_download_lettings_logs_path(search: @search_term) } %>
    <%== render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "logs" } %>
  </div>
</div>
