<% item_label = format_label(@pagy.count, "log") %>
<% title = format_title(@searched, "#{log_type_for_controller(controller).capitalize} logs", current_user, item_label, @pagy.count, nil) %>

<% content_for :title, title %>

<% dpo_confirmation_banner = DataProtectionConfirmationBannerComponent.new(
  user: current_user,
  organisation: @organisation,
) %>
<%= render dpo_confirmation_banner %>

<% missing_stock_owner_banner = MissingStockOwnersBannerComponent.new(
  user: current_user,
) %>
<%= render missing_stock_owner_banner %>

<% if @duplicate_sets_count&.positive? && !dpo_confirmation_banner.display_banner? && !missing_stock_owner_banner.display_banner? %>
  <%= govuk_notification_banner(title_text: "Important", text: govuk_link_to("Review logs", duplicate_logs_path(referrer: "duplicate_logs_banner"))) do |banner| %>
    <% banner.with_heading(text: I18n.t("notification.duplicate_sets", count: @duplicate_sets_count)) %>
  <% end %>
<% end %>

<% if current_page?(controller: 'lettings_logs', action: 'index') %>
  <% if @unresolved_count > 0 %>
    <%= govuk_notification_banner(
      title_text: "Important",
      title_heading_level: 3,
      title_id: "impacted-logs-banner",
    ) do |notification_banner| %>
        <% notification_banner.with_heading(text: "A scheme has changed and it has affected #{@unresolved_count} #{'log'.pluralize(@unresolved_count)}") %>
      <div class="govuk-notification-banner__heading">
        <%= govuk_link_to "Update logs", update_logs_lettings_logs_path, class: "govuk-notification-banner__link" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @bulk_upload.blank? %>
  <%= render partial: "organisations/headings", locals: current_user.support? ? { main: "#{log_type_for_controller(controller).capitalize} logs", sub: nil } : { main: "#{log_type_for_controller(controller).capitalize} logs", sub: current_user.organisation.name } %>
<% else %>
  <%= render partial: "organisations/headings",
             locals: {
               main: "Fix the errors from this bulk upload",
               sub: "#{log_type_for_controller(controller).capitalize} logs (#{@bulk_upload.year_combo})",
             } %>

  <div class="app-card govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">
          You have uploaded <%= pluralize(@bulk_upload.logs.count, "log") %>. There are errors in <%= pluralize(@bulk_upload.remaining_logs_with_errors_count, "log") %>, and <%= pluralize(@bulk_upload.remaining_errors_count, "error") %> in total. Select the log to fix the errors.
        </p>

        <p class="govuk-body">
          <strong>Bulk Upload details:</strong><br>
          File: <%= @bulk_upload.filename %><br>
          Uploaded on <%= @bulk_upload.created_at.to_fs(:govuk_date_and_time) %><br>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="app-filter-layout" data-controller="filter-layout">
  <%= render CreateLogActionsComponent.new(
    bulk_upload: @bulk_upload,
    user: current_user,
    log_type: log_type_for_controller(controller),
  ) %>
  <%= render partial: "log_filters" %>

  <div class="app-filter-layout__content">
    <%= render SearchComponent.new(current_user:, search_label: search_label_for_controller(controller), value: @searched) %>
    <%= govuk_section_break(visible: true, size: "m") %>
    <%= render partial: "log_list",
               locals: {
                 logs: @logs,
                 title: "Logs",
                 pagy: @pagy,
                 searched: @searched,
                 item_label:,
                 total_count: @total_count,
                 csv_download_url: csv_download_url_for_controller(controller:, search: @searched, codes_only: false),
                 csv_codes_only_download_url: csv_download_url_for_controller(controller:, search: @searched, codes_only: true),
                 delete_logs_path: @delete_logs_path,
                 filter_type: @filter_type,
               } %>
    <%== render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "logs" } %>
  </div>
</div>
