<% title = @location.name %>
<% content_for :title, title %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: :back,
  ) %>
<% end %>

<%= form_for(@location, method: :patch, url: scheme_location_check_answers_path(@scheme, @location)) do |f| %>
  <%= render partial: "organisations/headings", locals: { main: "Check your answers", sub: "Add a location to #{@scheme.service_name}" } %>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
          <%= govuk_summary_list do |summary_list| %>
              <% display_location_attributes(@location).each do |attr| %>
                  <% next if %w[location_code status].include? attr[:attribute] %>
                  <%= summary_list.row do |row| %>
                  <% row.key { attr[:name] } %>
                  <%= row.value do %>
                  <% case attr[:attribute]
                     when "status"
                       status_tag(attr[:value])
                     when "availability"
                       details_html(name: "Availability", value: @location.startdate.present? ? @location.startdate.to_formatted_s(:govuk_date) : nil, attribute: "startdate")
                     else
                       details_html(attr)
                     end %>
                  <% end %>
                  <% row.action(text: "Change", href: location_edit_path(@location, attr[:attribute])) unless attr[:name] == "Status" %>
                  <% end %>
              <% end %>
          <% end %>
      </div>
  </div>
  <%= f.hidden_field :confirmed %>
  <div class="govuk-button-group">
    <%= f.govuk_submit "Add this location", disabled: @location.incomplete? %>
    <%= govuk_button_link_to "Cancel", scheme_locations_path(@scheme), secondary: true %>
  </div>
<% end %>
