<% title = @location.name %>
<% content_for :title, title %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: scheme_location_availability_path(@scheme, @location),
  ) %>
<% end %>

<%= form_for(@location, method: :patch, url: scheme_location_check_answers_path(@scheme, @location)) do |f| %>
  <%= render partial: "organisations/headings", locals: { main: "Check your answers", sub: "Add a location to #{@scheme.service_name}" } %>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
          <%= govuk_summary_list do |summary_list| %>
              <% display_location_attributes(@location).each do |attr| %>
                  <% next if %w[location_code status].include? attr[:attribute] %>
                  <%= summary_list.row do |row| %>
                  <% row.key { attr[:name] } %>
                  <% row.value {
                    if attr[:attribute].eql?("status")
                      status_tag(attr[:value])
                    elsif attr[:attribute].eql?("availability")
                      details_html(name: "Availability", value: @location.startdate.to_formatted_s(:govuk_date), attribute: "startdate")
                    else
                      details_html(attr)
                    end } %>
                  <% row.action(text: "Change", href: location_edit_path(@location, attr[:attribute])) unless attr[:name] == "Status" %>
                  <% end %>
              <% end %>
          <% end %>
      </div>
  </div>
  <%= f.hidden_field :confirmed %>
  <div class="govuk-button-group">
    <%= f.govuk_submit "Add this location", disabled: [@location.postcode, @location.name, @location.location_admin_district, @location.units, @location.type_of_unit, @location.mobility_type, @location.startdate].any?(&:blank?) %>
    <%= govuk_button_link_to "Cancel", scheme_locations_path(@scheme), secondary: true %>
  </div>
<% end %>
