<% content_for :title, "Add a location to this scheme" %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: "/schemes/#{@scheme.id}/support",
  ) %>
<% end %>

<%= render partial: "organisations/headings", locals: { main: "Add a location to this scheme", sub: @scheme.service_name } %>

<%= form_for(@location, method: :patch, url: location_path) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :postcode,
                             label: { size: "m" },
                             hint: { text: I18n.t("hints.location.postcode") },
                             width: 5 %>

      <%= f.govuk_text_field :name,
                             label: { text: I18n.t("questions.location.name"), size: "m" },
                             hint: { text: I18n.t("hints.location.name") } %>

      <%= f.govuk_number_field :units,
                               label: { text: I18n.t("questions.location.units"), size: "m" },
                               width: 2,
                               hint: { text: I18n.t("hints.location.units") },
                               autofocus: true %>

      <% type_of_units_selection = Location.type_of_units.keys.map { |key, _| OpenStruct.new(id: key, name: key.to_s.humanize) } %>
      <%= f.govuk_collection_radio_buttons :type_of_unit,
                                           type_of_units_selection,
                                           :id,
                                           :name,
                                           legend: { text: I18n.t("questions.location.type_of_unit"), size: "m" } %>

      <% wheelchair_user_selection = Location.wheelchair_adaptations.keys.map { |key, _| OpenStruct.new(id: key, name: key.to_s.humanize) } %>
      <%= f.govuk_collection_radio_buttons :wheelchair_adaptation,
                                           wheelchair_user_selection,
                                           :id,
                                           :name,
                                           hint: { text: I18n.t("hints.location.wheelchair_adaptation") },
                                           legend: { text: I18n.t("questions.location.wheelchair_adaptation"), size: "m" } %>

      <%= f.govuk_date_field :startdate,
                              legend: { text: I18n.t("questions.location.startdate"), size: "m" },
                              width: 20 %>

      <%= govuk_section_break(visible: true, size: "m") %>

      <% another_location_selection = %w[Yes no].map { |key, _| OpenStruct.new(id: key, name: key.to_s.humanize) } %>
      <%= f.govuk_collection_radio_buttons :add_another_location,
                                           another_location_selection,
                                           :id,
                                           :name,
                                           inline: true,
                                           legend: { text: I18n.t("questions.location.add_another_location"), size: "m" } %>

      <%= f.hidden_field :page, value: "edit" %>

      <%= f.govuk_submit "Save and continue" %>
    </div>
  </div>
<% end %>
