<% title = @scheme.service_name %>
<% content_for :title, title %>
<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: "/schemes/#{@scheme.id}",
  ) %>
<% end %>
<%= render partial: "organisations/headings", locals: { main: @scheme.service_name, sub: nil } %>
<%= render SubNavigationComponent.new(items: scheme_items(request.path, @scheme.id, "Locations")) %>

<%= govuk_table do |table| %>
  <%= table.caption(classes: %w[govuk-!-font-size-19 govuk-!-font-weight-regular]) do |caption| %>
    <strong><%= @scheme.locations.count %></strong> <%= @scheme.locations.count.eql?(1) ? "location" : "locations" %>.
  <% end %>
  <%= table.head do |head| %>
    <%= head.row do |row| %>
      <% row.cell(header: true, text: "Code", html_attributes: {
        scope: "col",
      }) %>
      <% row.cell(header: true, text: "Postcode", html_attributes: {
        scope: "col",
      }) %>
      <% row.cell(header: true, text: "Units", html_attributes: {
        scope: "col",
      }) %>
      <% row.cell(header: true, text: "Common unit type", html_attributes: {
        scope: "col",
      }) %>
    <% end %>
  <% end %>
  <% @locations.each do |location| %>
    <%= table.body do |body| %>
      <%= body.row do |row| %>
        <% row.cell(text: location.id) %>
        <% row.cell(text: simple_format(location_cell(location, "/schemes/#{@scheme.id}/locations/#{location.id}/edit-name"), { class: "govuk-!-font-weight-bold" }, wrapper_tag: "div")) %>
        <% row.cell(text: location.total_units) %>
        <% row.cell(text: simple_format("<span>#{location.type_of_unit}</span>#{location.wheelchair_adaptation == 'Yes' ? "\n<span class=\"govuk-!-font-weight-regular app-!-colour-muted\">With wheelchair adaptations</span>" : ''}")) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%== render partial: "pagy/nav", locals: { pagy: @pagy, item_name: "locations" } %>
