<% content_for :title, "Add a location to this scheme" %>

<% content_for :before_content do %>
  <%= govuk_back_link(
        text: "Back",
        href: "/schemes/#{@scheme.id}/support",
        ) %>
<% end %>

<%= form_for(@location, method: :patch, url: scheme_location_startdate_path(@scheme, @location)) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <%= render partial: "organisations/headings", locals: { main: I18n.t("questions.location.mobility_type"), sub: "Add a location to #{@scheme.service_name}" } %>

      <%= f.govuk_collection_radio_buttons :mobility_type,
                                           mobility_type_selection,
                                           :id,
                                           :name,
                                           :description,
                                           legend: nil %>

      <div class="govuk-button-group">
          <%= f.govuk_submit "Continue" %>
          <%= govuk_button_link_to "Cancel", scheme_locations_path(@scheme), secondary: true %>
      </div>
    </div>
  </div>
<% end %>
