<% content_for :title, "Add a location to this scheme" %>

<% content_for :before_content do %>
  <%= govuk_back_link(
        text: "Back",
        href: :back,
        ) %>
<% end %>

<%= form_for(@location, method: :patch, url: scheme_location_units_path(@scheme, @location)) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <%= render partial: "organisations/headings", locals: { main: I18n.t("questions.location.name"), sub: "Add a location to #{@scheme.service_name}" } %>

      <%= f.govuk_text_field :name,
                             label: nil,
                             hint: { text: I18n.t("hints.location.name") } %>

      <div class="govuk-button-group">
          <%= f.govuk_submit "Continue" %>
          <%= govuk_button_link_to "Cancel", scheme_locations_path(@scheme), secondary: true %>
      </div>
    </div>
  </div>
<% end %>
