<% content_for :title, "Add a location to this scheme" %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: "javascript:history.go(-1);",
  ) %>
<% end %>

<%= render partial: "organisations/headings", locals: { main: "Add a location to this scheme", sub: @scheme.service_name } %>

<%= form_for(@location, method: :post, url: location_create_scheme_path) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :postcode,
                             label: { size: "m" },
                             hint: { text: "For example, SW1P 4DF." },
                             width: 5 %>

      <%= f.govuk_text_field :name,
                             label: { text: "Name (optional)", size: "m" },
                             hint: { text: "This is how you refer to this location within your organisation" } %>


      <%= f.govuk_submit "Save and continue" %>
    </div>
  </div>
<% end %>
