<% title = @location.name %>
<% content_for :title, title %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    href: scheme_locations_path(@scheme),
  ) %>
<% end %>

<%= render partial: "organisations/headings", locals: { main: @location.postcode, sub: @location.name } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= govuk_inset_text(text: edit_location_text(@scheme, current_user)) %>

    <%= govuk_summary_list do |summary_list| %>
      <% display_location_attributes(@location).each do |attr| %>
        <%= summary_list.row do |row| %>
          <% row.key { attr[:name] } %>
          <% row.value { attr[:attribute].eql?("status") ? status_tag_from_resource(@location) : details_html(attr) } %>
          <% if LocationPolicy.new(current_user, @location).update? %>
            <% row.action(text: "Change", href: scheme_location_name_path(@scheme, @location, referrer: "details")) if attr[:attribute] == "name" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if LocationPolicy.new(current_user, @location).deactivate? %>
  <%= toggle_location_link(@location) %>
<% end %>
