<%= form_with model: @location, url: scheme_location_deactivate_path(@location), method: "patch", local: true do |f| %>
     <% content_for :before_content do %>
       <%= govuk_back_link(href: :back) %>
     <% end %>
   <h1 class="govuk-heading-l">
     <span class="govuk-caption-l"><%= @scheme.service_name %></span>
     <%= "This change will affect SOME logs" %>
   </h1>
   <%= govuk_warning_text text: "Your data providers will need to review these logs and answer a few questions again. We’ll email each log creator with a list of logs that need updating." %>
   <%= f.hidden_field :confirm, :value => true %>
   <%= f.hidden_field :deactivation_date, :value => deactivation_date %>
   <div class="govuk-button-group">
     <%= f.govuk_submit "Deactivate this scheme" %>
     <%= govuk_button_link_to "Cancel", scheme_location_path(scheme_id: @scheme, id: @location.id), html: { method: :get }, secondary: true %>
   </div>
 <% end %>
 