<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Your account
    </h1>
    <h2 class="govuk-heading-m">
      Personal details
    </h2>
    <%= govuk_summary_list do |summary_list| %>
      <%= summary_list.row do |row|
        row.key { 'Name' }
        row.value { current_user.name }
        row.action(visually_hidden_text: 'name', href: '/users/account/personal-details', html_attributes: { 'data-qa': 'change-name' })
      end %>

      <%= summary_list.row() do |row|
        row.key { 'Email address' }
        row.value { current_user.email }
        row.action(visually_hidden_text: 'email address', href: '/users/account/personal-details', html_attributes: { 'data-qa': 'change-email' })
      end %>

      <%= summary_list.row do |row|
        row.key { 'Password' }
        row.value { '••••••••' }
        row.action(visually_hidden_text: 'password', href: edit_user_registration_path, html_attributes: { 'data-qa': 'change-password' })
      end %>

      <%= summary_list.row do |row|
        row.key { 'Organisation' }
        row.value { current_user.organisation }
        row.action()
      end %>

      <%= summary_list.row do |row|
        row.key { 'Role' }
        row.value { current_user.role }
        row.action()
      end %>
    <% end %>
  </div>
</div>
