<% if current_user %>
  <h1 class="govuk-heading-l">Collection resources</h1>
  <p class="govuk-body"><strong><%= govuk_link_to "Guidance for submitting social housing lettings and sales data (CORE)", guidance_path %></strong></p>
<% else %>
  <h2 class="govuk-heading-m">Collection resources</h2>
<% end %>
<p class="govuk-body">Use the 2024 to 2025 forms for lettings that start and sales that complete between 1 April 2024 and 31 March 2025.</p>
<p class="govuk-body">Use the 2023 to 2024 forms for lettings that start and sales that complete between 1 April 2023 and 31 March 2024.</p>
<div class="app-tab__list-view">
<%= govuk_tabs(title: "Collection resources", classes: %w[app-tab__small-headers]) do |c| %>
  <% if FormHandler.instance.lettings_form_for_start_year(2024) && FormHandler.instance.lettings_form_for_start_year(2024).edit_end_date > Time.zone.today %>
    <% c.with_tab(label: "Lettings 24/25") do %>
      <%= render DocumentListComponent.new(
        items: [
          {
            name: "Download the lettings log for tenants (2024 to 2025)",
            href: download_24_25_lettings_form_path,
            metadata: file_type_size_and_pages("2024_25_lettings_paper_form.pdf", number_of_pages: 8),
          },
          {
            name: "Download the lettings bulk upload template (2024 to 2025) – New question ordering",
            href: download_24_25_lettings_bulk_upload_template_path,
            metadata: file_type_size_and_pages("bulk-upload-lettings-template-2024-25.xlsx"),
          },
          {
            name: "Download the lettings bulk upload specification (2024 to 2025)",
            href: download_24_25_lettings_bulk_upload_specification_path,
            metadata: file_type_size_and_pages("bulk-upload-lettings-specification-2024-25.xlsx"),
          },
        ],
        label: "Lettings 24/25",
      ) %>
    <% end %>
    <% c.with_tab(label: "Sales 24/25") do %>
      <%= render DocumentListComponent.new(
        items: [
          {
            name: "Download the sales log for buyers (2024 to 2025)",
            href: download_24_25_sales_form_path,
            metadata: file_type_size_and_pages("2024_25_sales_paper_form.pdf", number_of_pages: 8),
          },
          {
            name: "Download the sales bulk upload template (2024 to 2025) – New question ordering",
            href: download_24_25_sales_bulk_upload_template_path,
            metadata: file_type_size_and_pages("bulk-upload-sales-template-2024-25.xlsx"),
          },
          {
            name: "Download the sales bulk upload specification (2024 to 2025)",
            href: download_24_25_sales_bulk_upload_specification_path,
            metadata: file_type_size_and_pages("bulk-upload-sales-specification-2024-25.xlsx"),
          },
        ],
        label: "Sales 24/25",
      ) %>
    <% end %>
  <% end %>
  <% if FormHandler.instance.lettings_form_for_start_year(2023) && FormHandler.instance.lettings_form_for_start_year(2023).edit_end_date > Time.zone.today %>
    <% c.with_tab(label: "Lettings 23/24") do %>
      <%= render DocumentListComponent.new(
        items: [
          {
            name: "Download the lettings log for tenants (2023 to 2024)",
            href: download_23_24_lettings_form_path,
            metadata: file_type_size_and_pages("2023_24_lettings_paper_form.pdf", number_of_pages: 8),
          },
          {
            name: "Download the lettings bulk upload template (2023 to 2024) – New question ordering",
            href: download_23_24_lettings_bulk_upload_template_path,
            metadata: file_type_size_and_pages("bulk-upload-lettings-template-2023-24.xlsx"),
          },
          {
            name: "Download the lettings bulk upload template (2023 to 2024) – Legacy version",
            href: download_23_24_lettings_bulk_upload_legacy_template_path,
            metadata: file_type_size_and_pages("bulk-upload-lettings-legacy-template-2023-24.xlsx"),
          },
          {
            name: "Download the lettings bulk upload specification (2023 to 2024)",
            href: download_23_24_lettings_bulk_upload_specification_path,
            metadata: file_type_size_and_pages("bulk-upload-lettings-specification-2023-24.xlsx"),
          },
        ],
        label: "Lettings 23/24",
      ) %>
    <% end %>
    <% c.with_tab(label: "Sales 23/24") do %>
      <%= render DocumentListComponent.new(
        items: [
          {
            name: "Download the sales log for buyers (2023 to 2024)",
            href: download_23_24_sales_form_path,
            metadata: file_type_size_and_pages("2023_24_sales_paper_form.pdf", number_of_pages: 8),
          },
          {
            name: "Download the sales bulk upload template (2023 to 2024) – New question ordering",
            href: download_23_24_sales_bulk_upload_template_path,
            metadata: file_type_size_and_pages("bulk-upload-sales-template-2023-24.xlsx"),
          },
          {
            name: "Download the sales bulk upload template (2023 to 2024) – Legacy version",
            href: download_23_24_sales_bulk_upload_legacy_template_path,
            metadata: file_type_size_and_pages("bulk-upload-sales-legacy-template-2023-24.xlsx"),
          },
          {
            name: "Download the sales bulk upload specification (2023 to 2024)",
            href: download_23_24_sales_bulk_upload_specification_path,
            metadata: file_type_size_and_pages("bulk-upload-sales-specification-2023-24.xlsx"),
          },
        ],
        label: "Sales 23/24",
      ) %>
    <% end %>
  <% end %>
<% end %>
</div>
