<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <title>DLUHC CORE Data Collection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_pack_path('media/images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.ico') %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-mask-icon.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png', size: '152x152' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-167x167.png'), rel: 'apple-touch-icon', type: 'image/png', size: '167x167' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
    <%= capybara_lockstep if defined?(Capybara::Lockstep) %>

    <% if Rails.env.development? %>
      <script>
        console.log(<%= session.to_json.html_safe %>)
      </script>
    <% end %>
  </head>

  <body class="govuk-template__body ">


    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= render GovukComponent::HeaderComponent.new(
        logotype: 'GOV.UK',
        service_name: 'Share Lettings and Sales for Social Housing in England Data with DLUHC',
        service_url: '/'
      ) do |component|
        if current_user.nil?
            component.navigation_item(text: 'Case logs', href: '/case_logs')
        elsif
          component.navigation_item(text: 'Your account', href: '/users/account')
          component.navigation_item(text: 'Sign out', href: destroy_user_session_path, options: {:method => :delete})
        end
      end
    %>

    <aside class="govuk-width-container">
      <%= render GovukComponent::PhaseBannerComponent.new(
        tag: { text: 'Beta' },
        text: "This is a new service – #{govuk_mail_to("test@mhclg.gov.uk", "give feedback or report a problem", subject: "Feedback about Lettings and Sales of Social Housing in England Data Collection")}".html_safe
      ) %>
    </aside>

    <div class="govuk-width-container">
      <div role="navigation">
        <%= content_for(:before_content) %>
      </div>

      <main class="govuk-main-wrapper " id="main-content" role="main">
        <% flash.each do |type, msg| %>
          <%= render GovukComponent::NotificationBannerComponent.new(
            title_text: 'Success',
            success: true, title_heading_level: 3,
            title_id: "swanky-notifications") do |notification_banner|
              notification_banner.heading(text: msg)
            end
          %>
        <% end %>
        <%= yield %>
      </main>
    </div>

    <footer class="govuk-footer">
      <%= render partial: "layouts/footer" %>
    </footer>
  </body>
</html>
