<% content_for :before_content do %>
  <%= govuk_back_link(
    text: 'Back',
    href: :back,
  ) %>
<% end %>

<% content_for :content do %>
  <h1 class="govuk-heading-l">
    Your Organisation
  </h1>

  <h2 class="govuk-visually-hidden"><%= content_for(:tab_title) %></h2>

  <%= render TabNavigationComponent.new(items: [
    { name: t('Details'), url: details_organisation_path(@organisation) },
    { name: t('Users'), url: users_organisation_path(@organisation) },
  ]) %>

  <%= content_for?(:organisations_content) ? yield(:organisations_content) : yield %>
<% end %>

<%= render template: "layouts/application" %>
